Repository hyperweavers/nidhi: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, stylelint --fix, nx format:write --files

feat(vatti): Add post office savings schemes comparison (#22)
  .github/ISSUE_TEMPLATE/01_bug_report.md
  .github/ISSUE_TEMPLATE/02_feature_request.md
  .github/workflows/deploy.yml
  .stylelintrc.json
  .vscode/settings.json
  README.md
  apps/pangu/src/app/app.component.ts
  apps/vatti/ngsw-config.json
  apps/vatti/public/icons/post-office-savings-schemes.svg
  apps/vatti/src/app/app.component.html
  apps/vatti/src/app/app.component.ts
  apps/vatti/src/app/app.routes.ts
  apps/vatti/src/app/constants.ts
  apps/vatti/src/app/decorators/flowbite.decorator.ts
  apps/vatti/src/app/models/common.ts
  apps/vatti/src/app/models/deposit.ts
  apps/vatti/src/app/pages/fixed-deposit-calculator/fixed-deposit-calculator.page.html
  apps/vatti/src/app/pages/fixed-deposit-calculator/fixed-deposit-calculator.page.ts
  apps/vatti/src/app/pages/gold-jewellery-price-calculator/gold-jewellery-price-calculator.page.html
  apps/vatti/src/app/pages/gold-jewellery-price-calculator/gold-jewellery-price-calculator.page.ts
  apps/vatti/src/app/pages/home/home.page.html
  apps/vatti/src/app/pages/loan-emi-calculator/loan-emi-calculator.page.html
  apps/vatti/src/app/pages/loan-emi-calculator/loan-emi-calculator.page.ts
  apps/vatti/src/app/pages/post-office-savings-schemes/post-office-savings-schemes.page.html
  apps/vatti/src/app/pages/post-office-savings-schemes/post-office-savings-schemes.page.scss
  apps/vatti/src/app/pages/post-office-savings-schemes/post-office-savings-schemes.page.spec.ts
  apps/vatti/src/app/pages/post-office-savings-schemes/post-office-savings-schemes.page.ts
  apps/vatti/src/app/pages/recurring-deposit-calculator/recurring-deposit-calculator.page.html
  apps/vatti/src/app/pages/recurring-deposit-calculator/recurring-deposit-calculator.page.ts
  apps/vatti/src/app/services/core/data.service.ts
  apps/vatti/src/app/utils/chart.utils.ts
  apps/vatti/src/app/utils/date.utils.ts
Due: nx affected:lint --fix --files, stylelint --fix, nx format:write --files

chore: add sponsorship options
  .github/FUNDING.yml
Due: nx format:write --files

chore: add sponsorship options (#23)
  .github/FUNDING.yml
Due: nx format:write --files

fix: update api urls
  apps/vatti/src/app/constants.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix(vatti): update gold price api url
  apps/vatti/src/app/constants.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix(vatti): update gold price api url (#26)
  apps/vatti/src/app/constants.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix(vatti): update json api urls
  apps/vatti/ngsw-config.json
  apps/vatti/src/app/constants.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix(vatti): update json api urls (#27)
  apps/vatti/ngsw-config.json
  apps/vatti/src/app/constants.ts
Due: nx affected:lint --fix --files, nx format:write --files

scaffold
  .stylelintrc.json
  apps/eip-e2e/.eslintrc.json
  apps/eip-e2e/cypress.config.ts
  apps/eip-e2e/project.json
  apps/eip-e2e/src/e2e/app.cy.ts
  apps/eip-e2e/src/fixtures/example.json
  apps/eip-e2e/src/support/app.po.ts
  apps/eip-e2e/src/support/commands.ts
  apps/eip-e2e/src/support/e2e.ts
  apps/eip-e2e/tsconfig.json
  apps/eip/.eslintrc.json
  apps/eip/jest.config.ts
  apps/eip/project.json
  apps/eip/public/favicon.ico
  apps/eip/src/app/app.component.html
  apps/eip/src/app/app.component.scss
  apps/eip/src/app/app.component.spec.ts
  apps/eip/src/app/app.component.ts
  apps/eip/src/app/app.config.ts
  apps/eip/src/app/app.routes.ts
  apps/eip/src/index.html
  apps/eip/src/main.ts
  apps/eip/src/styles.scss
  apps/eip/src/test-setup.ts
  apps/eip/tailwind.config.js
  apps/eip/tsconfig.app.json
  apps/eip/tsconfig.editor.json
  apps/eip/tsconfig.json
  apps/eip/tsconfig.spec.json
  apps/vatti/src/styles.scss
  package.json
Due: nx affected:lint --fix --files, stylelint --fix, nx format:write --files

add pwa
  apps/eip/ngsw-config.json
  apps/eip/project.json
  apps/eip/public/icons/icon-128x128.png
  apps/eip/public/icons/icon-144x144.png
  apps/eip/public/icons/icon-152x152.png
  apps/eip/public/icons/icon-192x192.png
  apps/eip/public/icons/icon-384x384.png
  apps/eip/public/icons/icon-512x512.png
  apps/eip/public/icons/icon-72x72.png
  apps/eip/public/icons/icon-96x96.png
  apps/eip/public/manifest.webmanifest
  apps/eip/src/app/app.config.ts
  apps/eip/src/index.html
Due: nx affected:lint --fix --files, nx format:write --files

fix market service
  apps/palan/src/app/models/vendor/mc.ts
  apps/palan/src/app/services/core/market.service.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix ut
  apps/palan/src/app/pages/plan/plan.page.spec.ts
  apps/palan/src/app/services/core/currency.service.spec.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix(palan): fix stock search
  apps/palan/src/app/constants.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix(palan): fix stock search (#32)
  apps/palan/src/app/constants.ts
Due: nx affected:lint --fix --files, nx format:write --files

Update Telegram channel link in HTML page
  apps/vatti/src/app/pages/gold-jewellery-price-calculator/gold-jewellery-price-calculator.page.html
Due: nx affected:lint --fix --files, nx format:write --files

Update GOLD_PRICE API endpoint
  apps/vatti/src/app/constants.ts
Due: nx affected:lint --fix --files, nx format:write --files

Update gold price API request format
  apps/vatti/src/app/services/core/data.service.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix gold price api response handling and formatting
  apps/vatti/src/app/constants.ts
  apps/vatti/src/app/services/core/data.service.ts
Due: nx affected:lint --fix --files, nx format:write --files

feat(vatti): update gold price api and Telegram channel link (#37)
  apps/vatti/src/app/constants.ts
  apps/vatti/src/app/pages/gold-jewellery-price-calculator/gold-jewellery-price-calculator.page.html
  apps/vatti/src/app/services/core/data.service.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix
  apps/palan/src/app/pages/portfolio/portfolio.page.html
Due: nx affected:lint --fix --files, nx format:write --files

coc update
  CODE_OF_CONDUCT.md
  README.md
Due: nx format:write --files

lint fix
  apps/palan/src/app/app.component.ts
  apps/palan/src/app/directives/drawer-closed/drawer-closed.directive.ts
  apps/palan/src/app/pages/dashboard/dashboard.page.ts
  apps/palan/src/app/pages/delete/delete.page.ts
  apps/palan/src/app/pages/export/export.page.ts
  apps/palan/src/app/pages/import/import.page.ts
  apps/palan/src/app/pages/plan/plan.page.ts
  apps/palan/src/app/pages/portfolio/portfolio.page.ts
  apps/palan/src/app/pages/settings/settings.page.ts
  apps/palan/src/app/pages/stocks/stocks.page.ts
  apps/palan/src/app/services/core/currency.service.ts
  apps/palan/src/app/services/core/market.service.ts
  apps/palan/src/app/services/core/settings.service.ts
  apps/palan/src/app/services/core/storage.service.ts
  apps/palan/src/app/services/dashboard.service.ts
  apps/palan/src/app/services/portfolio.service.ts
  apps/pangu/src/app/app.component.ts
  apps/pangu/src/app/directives/drawer-closed/drawer-closed.directive.ts
  apps/pangu/src/app/pages/dashboard/dashboard.page.ts
  apps/pangu/src/app/pages/delete/delete.page.ts
  apps/pangu/src/app/pages/export/export.page.ts
  apps/pangu/src/app/pages/import/import.page.ts
  apps/pangu/src/app/pages/indices/indices.page.ts
  apps/pangu/src/app/pages/portfolio/portfolio.page.ts
  apps/pangu/src/app/pages/settings/settings.page.ts
  apps/pangu/src/app/pages/stocks/stocks.page.ts
  apps/pangu/src/app/services/core/market.service.ts
  apps/pangu/src/app/services/core/settings.service.ts
  apps/pangu/src/app/services/dashboard.service.ts
  apps/pangu/src/app/services/portfolio.service.ts
  apps/vatti/src/app/app.component.ts
  apps/vatti/src/app/pages/fixed-deposit-calculator/fixed-deposit-calculator.page.ts
  apps/vatti/src/app/pages/gold-jewellery-price-calculator/gold-jewellery-price-calculator.page.ts
  apps/vatti/src/app/pages/loan-emi-calculator/loan-emi-calculator.page.ts
  apps/vatti/src/app/pages/post-office-savings-schemes/post-office-savings-schemes.page.ts
  apps/vatti/src/app/pages/recurring-deposit-calculator/recurring-deposit-calculator.page.ts
  apps/vatti/src/app/pages/settings/settings.page.ts
  apps/vatti/src/app/services/core/data.service.ts
  apps/vatti/src/app/services/core/settings.service.ts
Due: nx affected:lint --fix --files, nx format:write --files

update node
  .nvmrc
Due: nx format:write --files

revamp portfolio
  apps/palan/src/app/services/portfolio.service.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix npm install
  package-lock.json
  package.json
Due: nx format:write --files

audit fix 1
  package-lock.json
  package.json
Due: nx format:write --files

fix format
  .lintstagedrc
  apps/palan/src/app/models/settings.ts
  apps/palan/src/app/pages/about/about.page.ts
  apps/palan/src/app/pages/disclaimer/disclaimer.page.ts
  apps/palan/src/app/pages/page-not-found/page-not-found.page.ts
  apps/palan/src/app/pages/privacy/privacy.page.ts
  apps/palan/src/app/pages/terms/terms.page.ts
  apps/pangu/ngsw-config.json
  apps/pangu/src/app/app.config.ts
  apps/pangu/src/app/models/settings.ts
  apps/pangu/src/app/pages/about/about.page.ts
  apps/pangu/src/app/pages/dashboard/dashboard.page.spec.ts
  apps/pangu/src/app/pages/delete/delete.page.html
  apps/pangu/src/app/pages/disclaimer/disclaimer.page.ts
  apps/pangu/src/app/pages/export/export.page.html
  apps/pangu/src/app/pages/import/import.page.html
  apps/pangu/src/app/pages/page-not-found/page-not-found.page.scss
  apps/pangu/src/app/pages/page-not-found/page-not-found.page.ts
  apps/pangu/src/app/pages/portfolio/portfolio.page.spec.ts
  apps/pangu/src/app/pages/privacy/privacy.page.ts
  apps/pangu/src/app/pages/terms/terms.page.ts
  apps/pangu/src/app/services/core/market.service.spec.ts
  apps/pangu/src/app/services/core/storage.service.spec.ts
  apps/pangu/src/app/services/portfolio.service.spec.ts
  apps/pangu/src/main.ts
  apps/pangu/tailwind.config.js
  apps/vatti/src/app/app.routes.ts
  apps/vatti/src/app/models/deposit.ts
  apps/vatti/src/app/pages/about/about.page.ts
  apps/vatti/src/app/pages/disclaimer/disclaimer.page.ts
  apps/vatti/src/app/pages/home/home.page.ts
  apps/vatti/src/app/pages/page-not-found/page-not-found.page.ts
  apps/vatti/src/app/pages/privacy/privacy.page.ts
  apps/vatti/src/app/pages/terms/terms.page.ts
Due: nx affected:lint --fix --files, stylelint --fix, nx format:write --files

migrate output to signals
  apps/palan/src/app/directives/drawer-closed/drawer-closed.directive.ts
  apps/pangu/src/app/directives/drawer-closed/drawer-closed.directive.ts
Due: nx affected:lint --fix --files, nx format:write --files

migrate queries to signals
  apps/palan/src/app/pages/import/import.page.ts
  apps/palan/src/app/pages/portfolio/portfolio.page.ts
  apps/palan/src/app/pages/stocks/stocks.page.ts
  apps/pangu/src/app/pages/import/import.page.ts
  apps/pangu/src/app/pages/indices/indices.page.ts
  apps/pangu/src/app/pages/portfolio/portfolio.page.ts
  apps/pangu/src/app/pages/stocks/stocks.page.ts
  apps/vatti/src/app/pages/fixed-deposit-calculator/fixed-deposit-calculator.page.ts
  apps/vatti/src/app/pages/gold-jewellery-price-calculator/gold-jewellery-price-calculator.page.ts
  apps/vatti/src/app/pages/loan-emi-calculator/loan-emi-calculator.page.ts
  apps/vatti/src/app/pages/post-office-savings-schemes/post-office-savings-schemes.page.ts
  apps/vatti/src/app/pages/recurring-deposit-calculator/recurring-deposit-calculator.page.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix ut 1
  apps/palan/src/app/directives/drawer-closed/drawer-closed.directive.spec.ts
  apps/pangu/src/app/directives/drawer-closed/drawer-closed.directive.spec.ts
  apps/pangu/src/test-setup.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix ut 2
  apps/vatti/src/app/pages/fixed-deposit-calculator/fixed-deposit-calculator.page.ts
  apps/vatti/src/app/pages/loan-emi-calculator/loan-emi-calculator.page.ts
  apps/vatti/src/app/pages/recurring-deposit-calculator/recurring-deposit-calculator.page.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix format
  apps/palan/src/app/directives/drawer-closed/drawer-closed.directive.spec.ts
  apps/palan/src/app/directives/drawer-closed/drawer-closed.directive.ts
  apps/palan/src/app/pages/import/import.page.ts
  apps/palan/src/app/pages/portfolio/portfolio.page.ts
  apps/palan/src/app/pages/stocks/stocks.page.ts
  apps/pangu/src/app/directives/drawer-closed/drawer-closed.directive.spec.ts
  apps/pangu/src/app/directives/drawer-closed/drawer-closed.directive.ts
  apps/pangu/src/app/pages/import/import.page.ts
  apps/pangu/src/app/pages/indices/indices.page.ts
  apps/pangu/src/app/pages/portfolio/portfolio.page.ts
  apps/pangu/src/app/pages/stocks/stocks.page.ts
  apps/pangu/src/test-setup.ts
  apps/vatti/src/app/pages/fixed-deposit-calculator/fixed-deposit-calculator.page.ts
  apps/vatti/src/app/pages/gold-jewellery-price-calculator/gold-jewellery-price-calculator.page.ts
  apps/vatti/src/app/pages/loan-emi-calculator/loan-emi-calculator.page.ts
  apps/vatti/src/app/pages/post-office-savings-schemes/post-office-savings-schemes.page.ts
  apps/vatti/src/app/pages/recurring-deposit-calculator/recurring-deposit-calculator.page.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix lint 1
  .eslintrc.json
  apps/palan/src/app/directives/drawer-closed/drawer-closed.directive.spec.ts
  apps/palan/src/app/services/core/settings.service.ts
  apps/pangu/src/app/directives/drawer-closed/drawer-closed.directive.spec.ts
  apps/pangu/src/app/services/core/market.service.ts
  apps/pangu/src/app/services/core/settings.service.ts
  apps/pangu/src/app/services/portfolio.service.ts
  apps/vatti/src/app/services/core/settings.service.ts
  package-lock.json
  package.json
Due: nx affected:lint --fix --files, nx format:write --files

fix lint 2
  .eslintrc.json
  package-lock.json
  package.json
Due: nx format:write --files

Path conditions:
  nx affected:lint --fix --files: any of: apps/**/*.{ts,js,scss,css,html,md,json}
  stylelint --fix: any of: *.{scss,css}
  nx format:write --files: any of: *
