Repository hyperweavers/nidhi: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, stylelint --fix

freeze deploy action
  .github/workflows/deploy.yml
  .vscode/settings.json
  apps/pangu/project.json
  package-lock.json
  package.json
Due: nx affected:lint --fix --files, nx format:write --files

Deploy Pangu 🚀
  ngsw.json
Due: nx format:write --files

update node and missed angular dependencies
  .nvmrc
  package-lock.json
  package.json
Due: nx format:write --files

chore(pangu): automate release (#7)
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .nvmrc
  .vscode/settings.json
  apps/pangu/project.json
  apps/pangu/src/app/pages/about/about.page.html
  package-lock.json
  package.json
Due: nx affected:lint --fix --files, nx format:write --files

cleanup
  .github/workflows/ci.yml
Due: nx format:write --files

chore(pangu): fix ci
  .github/workflows/ci.yml
  CODE_OF_CONDUCT.md
  apps/pangu/src/app/app.routes.ts
  apps/pangu/src/app/utils/chart.utils.ts
Due: nx affected:lint --fix --files, nx format:write --files

chore(pangu): change lint stage order
  .lintstagedrc
Due: nx format:write --files

chore: update readme with tamil app names
  .vscode/settings.json
  README.md
Due: nx format:write --files

chore(pangu): fix unit tests
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  apps/pangu/src/app/app.component.spec.ts
  apps/pangu/src/app/directives/drawer-closed/drawer-closed.directive.spec.ts
  apps/pangu/src/app/pages/about/about.page.html
  apps/pangu/src/app/pages/indices/indices.page.spec.ts
  apps/pangu/src/app/pages/stocks/stocks.page.spec.ts
  apps/pangu/src/app/services/dashboard.service.spec.ts
  apps/pangu/src/test-setup.ts
Due: nx affected:lint --fix --files, nx format:write --files

Deploy Pangu 🚀
  404.html
  chunk-QGW5PWGE.js
  chunk-WA5LFHXZ.js
  index.html
  main-JNAXASER.js
  main-PILRQTCT.js
  ngsw.json
  styles-FNQ2PNBR.css
  styles-HVDFEDGS.css
Due: nx format:write --files, stylelint --fix

fix(pangu): prevent infinite loading during chart data unavailability
  apps/pangu/src/app/models/market.ts
  apps/pangu/src/app/pages/indices/indices.page.html
  apps/pangu/src/app/pages/indices/indices.page.ts
  apps/pangu/src/app/pages/stocks/stocks.page.html
  apps/pangu/src/app/pages/stocks/stocks.page.ts
Due: nx affected:lint --fix --files, nx format:write --files

Deploy Pangu 🚀
  404.html
  chunk-5YEP3JST.js
  chunk-75MLTHSO.js
  chunk-HMKHOBR7.js
  chunk-NG5RHPTY.js
  chunk-P5STEGDC.js
  chunk-PZJVEQAS.js
  chunk-Q4ZRGK6N.js
  chunk-RSVNK4H6.js
  chunk-U7NWZG3U.js
  chunk-VQZV2RWI.js
  chunk-W2C6NAMV.js
  chunk-WPTGNR7F.js
  index.html
  main-BQ4TQYBD.js
  main-PILRQTCT.js
  ngsw.json
Due: nx format:write --files

chore: fix typo in readme
  README.md
Due: nx format:write --files

refactor(pangu): move vendor specific interfaces to separate files
  apps/pangu/src/app/models/market.ts
  apps/pangu/src/app/models/vendor/etm.ts
  apps/pangu/src/app/models/vendor/mc.ts
  apps/pangu/src/app/pages/indices/indices.page.ts
  apps/pangu/src/app/services/core/market.service.ts
  apps/pangu/src/app/services/dashboard.service.ts
  apps/pangu/src/app/utils/market.utils.ts
Due: nx affected:lint --fix --files, nx format:write --files

refactor(pangu): add index vendor codes
  .vscode/settings.json
  apps/pangu/src/app/app.component.ts
  apps/pangu/src/app/constants.ts
  apps/pangu/src/app/models/chart.ts
  apps/pangu/src/app/models/index.ts
  apps/pangu/src/app/models/kpi.ts
  apps/pangu/src/app/models/market-status.ts
  apps/pangu/src/app/models/market.ts
  apps/pangu/src/app/models/portfolio.ts
  apps/pangu/src/app/models/stock.ts
  apps/pangu/src/app/models/vendor/etm.ts
  apps/pangu/src/app/models/vendor/mc.ts
  apps/pangu/src/app/pages/dashboard/dashboard.page.ts
  apps/pangu/src/app/pages/indices/indices.page.ts
  apps/pangu/src/app/pages/portfolio/portfolio.page.ts
  apps/pangu/src/app/pages/stocks/stocks.page.ts
  apps/pangu/src/app/services/core/market.service.ts
  apps/pangu/src/app/services/dashboard.service.ts
  apps/pangu/src/app/services/portfolio.service.ts
  apps/pangu/src/app/utils/market.utils.ts
Due: nx affected:lint --fix --files, nx format:write --files

refactor(pangu): handle stocks not listed in all exchanges
  .vscode/settings.json
  apps/pangu/src/app/constants.ts
  apps/pangu/src/app/db/app.db.ts
  apps/pangu/src/app/models/market.ts
  apps/pangu/src/app/models/stock.ts
  apps/pangu/src/app/models/vendor/etm.ts
  apps/pangu/src/app/models/vendor/mc.ts
  apps/pangu/src/app/pages/indices/indices.page.html
  apps/pangu/src/app/pages/portfolio/portfolio.page.html
  apps/pangu/src/app/pages/portfolio/portfolio.page.ts
  apps/pangu/src/app/pages/stocks/stocks.page.html
  apps/pangu/src/app/pages/stocks/stocks.page.ts
  apps/pangu/src/app/services/core/market.service.ts
  apps/pangu/src/app/services/core/storage.service.ts
  apps/pangu/src/app/services/portfolio.service.ts
  apps/pangu/src/app/utils/market.utils.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix(pangu): handle stocks not listed in all exchanges (#8)
  .vscode/settings.json
  README.md
  apps/pangu/src/app/app.component.ts
  apps/pangu/src/app/constants.ts
  apps/pangu/src/app/db/app.db.ts
  apps/pangu/src/app/models/chart.ts
  apps/pangu/src/app/models/index.ts
  apps/pangu/src/app/models/kpi.ts
  apps/pangu/src/app/models/market-status.ts
  apps/pangu/src/app/models/market.ts
  apps/pangu/src/app/models/portfolio.ts
  apps/pangu/src/app/models/stock.ts
  apps/pangu/src/app/models/vendor/etm.ts
  apps/pangu/src/app/models/vendor/mc.ts
  apps/pangu/src/app/pages/dashboard/dashboard.page.ts
  apps/pangu/src/app/pages/indices/indices.page.html
  apps/pangu/src/app/pages/indices/indices.page.ts
  apps/pangu/src/app/pages/portfolio/portfolio.page.html
  apps/pangu/src/app/pages/portfolio/portfolio.page.ts
  apps/pangu/src/app/pages/stocks/stocks.page.html
  apps/pangu/src/app/pages/stocks/stocks.page.ts
  apps/pangu/src/app/services/core/market.service.ts
  apps/pangu/src/app/services/core/storage.service.ts
  apps/pangu/src/app/services/dashboard.service.ts
  apps/pangu/src/app/services/portfolio.service.ts
  apps/pangu/src/app/utils/market.utils.ts
Due: nx affected:lint --fix --files, nx format:write --files

upgrade workspace
  apps/pangu/.eslintrc.json
  apps/pangu/src/app/app.component.ts
  apps/pangu/src/app/pages/about/about.page.ts
  apps/pangu/src/app/pages/dashboard/dashboard.page.ts
  apps/pangu/src/app/pages/delete/delete.page.ts
  apps/pangu/src/app/pages/disclaimer/disclaimer.page.ts
  apps/pangu/src/app/pages/export/export.page.ts
  apps/pangu/src/app/pages/import/import.page.ts
  apps/pangu/src/app/pages/indices/indices.page.ts
  apps/pangu/src/app/pages/page-not-found/page-not-found.page.ts
  apps/pangu/src/app/pages/portfolio/portfolio.page.ts
  apps/pangu/src/app/pages/privacy/privacy.page.ts
  apps/pangu/src/app/pages/settings/settings.page.ts
  apps/pangu/src/app/pages/stocks/stocks.page.ts
  apps/pangu/src/app/pages/terms/terms.page.ts
  nx.json
  package-lock.json
  package.json
Due: nx affected:lint --fix --files, nx format:write --files

npm audit fix part 1
  package-lock.json
Due: nx format:write --files

update nx angular generator config
  nx.json
Due: nx format:write --files

add kanippaan
  apps/kanippaan-e2e/.eslintrc.json
  apps/kanippaan-e2e/cypress.config.ts
  apps/kanippaan-e2e/project.json
  apps/kanippaan-e2e/src/e2e/app.cy.ts
  apps/kanippaan-e2e/src/fixtures/example.json
  apps/kanippaan-e2e/src/support/app.po.ts
  apps/kanippaan-e2e/src/support/commands.ts
  apps/kanippaan-e2e/src/support/e2e.ts
  apps/kanippaan-e2e/tsconfig.json
  apps/kanippaan/.eslintrc.json
  apps/kanippaan/jest.config.ts
  apps/kanippaan/project.json
  apps/kanippaan/public/favicon.ico
  apps/kanippaan/src/app/app.component.html
  apps/kanippaan/src/app/app.component.scss
  apps/kanippaan/src/app/app.component.spec.ts
  apps/kanippaan/src/app/app.component.ts
  apps/kanippaan/src/app/app.config.ts
  apps/kanippaan/src/app/app.routes.ts
  apps/kanippaan/src/app/nx-welcome.component.ts
  apps/kanippaan/src/index.html
  apps/kanippaan/src/main.ts
  apps/kanippaan/src/styles.scss
  apps/kanippaan/src/test-setup.ts
  apps/kanippaan/tailwind.config.js
  apps/kanippaan/tsconfig.app.json
  apps/kanippaan/tsconfig.editor.json
  apps/kanippaan/tsconfig.json
  apps/kanippaan/tsconfig.spec.json
  nx.json
  package-lock.json
  package.json
Due: nx affected:lint --fix --files, nx format:write --files, stylelint --fix

improve chart performance
  apps/kanippaan/src/app/pages/loan-emi-calculator/loan-emi-calculator.page.html
  apps/kanippaan/src/app/pages/loan-emi-calculator/loan-emi-calculator.page.ts
  apps/kanippaan/src/styles.scss
Due: nx affected:lint --fix --files, nx format:write --files, stylelint --fix

customize icons and theme
  apps/kanippaan/public/favicon.ico
  apps/kanippaan/public/icons/icon-1024x1024.png
  apps/kanippaan/public/icons/icon-128x128.png
  apps/kanippaan/public/icons/icon-144x144.png
  apps/kanippaan/public/icons/icon-152x152.png
  apps/kanippaan/public/icons/icon-192x192.png
  apps/kanippaan/public/icons/icon-384x384.png
  apps/kanippaan/public/icons/icon-512x512.png
  apps/kanippaan/public/icons/icon-72x72.png
  apps/kanippaan/public/icons/icon-96x96.png
  apps/kanippaan/public/icons/logo.svg
  apps/kanippaan/public/icons/maskable_icon-1024x1024.png
  apps/kanippaan/public/icons/screenshot-1024x768.png
  apps/kanippaan/src/app/pages/loan-emi-calculator/loan-emi-calculator.page.html
  apps/kanippaan/src/app/pages/loan-emi-calculator/loan-emi-calculator.page.scss
Due: nx affected:lint --fix --files, nx format:write --files, stylelint --fix

Modify home page
  apps/kanippaan/src/app/pages/home/home.page.html
  apps/kanippaan/src/app/pages/home/home.page.ts
Due: nx affected:lint --fix --files, nx format:write --files

change loan emi calculator route
  apps/kanippaan/src/app/app.component.html
  apps/kanippaan/src/app/app.routes.ts
  apps/kanippaan/src/app/constants.ts
  apps/kanippaan/src/app/pages/home/home.page.html
Due: nx affected:lint --fix --files, nx format:write --files

add deployment pipeline
  .github/workflows/deploy.yml
  package.json
Due: nx format:write --files

fix unit tests
  apps/kanippaan/src/app/app.component.spec.ts
  apps/kanippaan/src/app/pages/home/home.page.spec.ts
Due: nx affected:lint --fix --files, nx format:write --files

increase bundle size error limit from 1mb to 2mb
  apps/kanippaan/project.json
Due: nx affected:lint --fix --files, nx format:write --files

chore(kanippaan): fix unit tests (#10)
  apps/kanippaan/project.json
  apps/kanippaan/src/app/app.component.spec.ts
  apps/kanippaan/src/app/pages/home/home.page.spec.ts
Due: nx affected:lint --fix --files, nx format:write --files

chore(kanippaan): fix deployment
  .github/workflows/deploy.yml
Due: nx format:write --files

chore(kanippaan): fix deployment (#11)
  .github/workflows/deploy.yml
Due: nx format:write --files

chore(kanippaan): change gh pages deployment secret name
  .github/workflows/deploy.yml
Due: nx format:write --files

Delete CNAME
  CNAME
Due: nx format:write --files

add fd calculator
  .vscode/settings.json
  README.md
  apps/kanippaan/ngsw-config.json
  apps/kanippaan/project.json
  apps/kanippaan/public/icons/fixed-deposit.svg
  apps/kanippaan/public/icons/gold-jewellery-price.svg
  apps/kanippaan/public/icons/loan-emi.svg
  apps/kanippaan/src/app/app.component.html
  apps/kanippaan/src/app/app.config.ts
  apps/kanippaan/src/app/app.routes.ts
  apps/kanippaan/src/app/constants.ts
  apps/kanippaan/src/app/pages/fixed-deposit-calculator/fixed-deposit-calculator.page.html
  apps/kanippaan/src/app/pages/fixed-deposit-calculator/fixed-deposit-calculator.page.scss
  apps/kanippaan/src/app/pages/fixed-deposit-calculator/fixed-deposit-calculator.page.spec.ts
  apps/kanippaan/src/app/pages/fixed-deposit-calculator/fixed-deposit-calculator.page.ts
  apps/kanippaan/src/app/pages/gold-jewellery-price-calculator/gold-jewellery-price-calculator.page.html
  apps/kanippaan/src/app/pages/gold-jewellery-price-calculator/gold-jewellery-price-calculator.page.scss
  apps/kanippaan/src/app/pages/gold-jewellery-price-calculator/gold-jewellery-price-calculator.page.spec.ts
  apps/kanippaan/src/app/pages/gold-jewellery-price-calculator/gold-jewellery-price-calculator.page.ts
  apps/kanippaan/src/app/pages/home/home.page.html
  apps/kanippaan/src/app/pages/loan-emi-calculator/loan-emi-calculator.page.html
  apps/kanippaan/src/app/pages/loan-emi-calculator/loan-emi-calculator.page.ts
  apps/kanippaan/src/app/services/core/data.service.spec.ts
  apps/kanippaan/src/app/services/core/data.service.ts
  apps/kanippaan/src/app/utils/chart.utils.ts
  apps/kanippaan/src/styles.scss
  apps/kanippaan/tailwind.config.js
  package-lock.json
  package.json
Due: nx affected:lint --fix --files, nx format:write --files, stylelint --fix

Path conditions:
  nx affected:lint --fix --files: any of: apps/**/*.{ts,js,scss,css,html,md,json}
  nx format:write --files: any of: *
  stylelint --fix: any of: *.{scss,css}
