Repository hyperweavers/nidhi: changes, and which lint-staged commands are due for each by the changed paths.
All: npx nx affected:lint --fix --files, npx stylelint --fix, npx nx format:write --files

feat(pangu): add site wide search
  apps/pangu/src/app/app.component.html
  apps/pangu/src/app/app.component.spec.ts
  apps/pangu/src/app/app.component.ts
  apps/pangu/src/app/components/stock-search/stock-search.component.css
  apps/pangu/src/app/components/stock-search/stock-search.component.html
  apps/pangu/src/app/components/stock-search/stock-search.component.spec.ts
  apps/pangu/src/app/components/stock-search/stock-search.component.ts
  apps/pangu/src/app/mocks/data.ts
  apps/pangu/src/app/pages/dashboard/dashboard.page.spec.ts
  apps/pangu/src/app/pages/portfolio/portfolio.page.html
  apps/pangu/src/app/pages/portfolio/portfolio.page.spec.ts
  apps/pangu/src/app/pages/portfolio/portfolio.page.ts
  apps/pangu/src/app/pages/stocks/stocks.page.html
  apps/pangu/src/app/pages/stocks/stocks.page.ts
  apps/pangu/src/app/services/core/market.service.ts
Due: npx nx affected:lint --fix --files, npx stylelint --fix, npx nx format:write --files

feat(pangu): add site wide search (#75)
  apps/pangu/src/app/app.component.html
  apps/pangu/src/app/app.component.spec.ts
  apps/pangu/src/app/app.component.ts
  apps/pangu/src/app/components/stock-search/stock-search.component.css
  apps/pangu/src/app/components/stock-search/stock-search.component.html
  apps/pangu/src/app/components/stock-search/stock-search.component.spec.ts
  apps/pangu/src/app/components/stock-search/stock-search.component.ts
  apps/pangu/src/app/mocks/data.ts
  apps/pangu/src/app/pages/dashboard/dashboard.page.spec.ts
  apps/pangu/src/app/pages/portfolio/portfolio.page.html
  apps/pangu/src/app/pages/portfolio/portfolio.page.spec.ts
  apps/pangu/src/app/pages/portfolio/portfolio.page.ts
  apps/pangu/src/app/pages/stocks/stocks.page.html
  apps/pangu/src/app/pages/stocks/stocks.page.ts
  apps/pangu/src/app/services/core/market.service.ts
Due: npx nx affected:lint --fix --files, npx stylelint --fix, npx nx format:write --files

fix(pangu): prevent metrics get stored to db
  apps/pangu/src/app/pages/portfolio/portfolio.page.ts
  apps/pangu/src/app/services/portfolio.service.ts
Due: npx nx affected:lint --fix --files, npx nx format:write --files

update UTs
  apps/pangu/src/app/pages/portfolio/portfolio.page.spec.ts
  apps/pangu/src/app/services/portfolio.service.spec.ts
Due: npx nx affected:lint --fix --files, npx nx format:write --files

update UTs 2
  apps/pangu/src/app/services/core/storage.service.spec.ts
Due: npx nx affected:lint --fix --files, npx nx format:write --files

fix format
  apps/pangu/src/app/services/core/storage.service.spec.ts
Due: npx nx affected:lint --fix --files, npx nx format:write --files

fix(pangu): prevent metrics get stored to db (#76)
  apps/pangu/src/app/pages/portfolio/portfolio.page.spec.ts
  apps/pangu/src/app/pages/portfolio/portfolio.page.ts
  apps/pangu/src/app/services/core/storage.service.spec.ts
  apps/pangu/src/app/services/portfolio.service.spec.ts
  apps/pangu/src/app/services/portfolio.service.ts
Due: npx nx affected:lint --fix --files, npx nx format:write --files

chore: disable NX TUI
  nx.json
Due: npx nx format:write --files

fix(palan): multiply timestamp by 1000 to convert to milliseconds
  apps/palan/src/app/services/core/market.service.ts
Due: npx nx affected:lint --fix --files, npx nx format:write --files

fix formatting issue
  apps/palan/src/app/services/core/market.service.ts
Due: npx nx affected:lint --fix --files, npx nx format:write --files

fix quote
  apps/palan/src/app/services/core/market.service.ts
Due: npx nx affected:lint --fix --files, npx nx format:write --files

fix(palan): multiply timestamp by 1000 to convert to milliseconds (#77)
  apps/palan/src/app/services/core/market.service.ts
Due: npx nx affected:lint --fix --files, npx nx format:write --files

fix(pangu): update historic chart url with proper resolution
  apps/palan/src/app/constants.ts
  apps/palan/src/app/services/core/market.service.ts
Due: npx nx affected:lint --fix --files, npx nx format:write --files

fix contribution source selection
  apps/palan/src/app/pages/portfolio/portfolio.page.html
  apps/palan/src/app/pages/portfolio/portfolio.page.spec.ts
  apps/palan/src/app/pages/portfolio/portfolio.page.ts
Due: npx nx affected:lint --fix --files, npx nx format:write --files

fix(pangu): update historic chart url with proper resolution (#78)
  apps/palan/src/app/constants.ts
  apps/palan/src/app/pages/portfolio/portfolio.page.html
  apps/palan/src/app/pages/portfolio/portfolio.page.spec.ts
  apps/palan/src/app/pages/portfolio/portfolio.page.ts
  apps/palan/src/app/services/core/market.service.ts
Due: npx nx affected:lint --fix --files, npx nx format:write --files

add txn page
  apps/pangu/src/app/app.component.html
  apps/pangu/src/app/app.routes.ts
  apps/pangu/src/app/components/transaction-drawer/transaction-drawer.component.html
  apps/pangu/src/app/components/transaction-drawer/transaction-drawer.component.spec.ts
  apps/pangu/src/app/components/transaction-drawer/transaction-drawer.component.ts
  apps/pangu/src/app/constants.ts
  apps/pangu/src/app/mocks/data.ts
  apps/pangu/src/app/models/portfolio.ts
  apps/pangu/src/app/pages/dashboard/dashboard.page.spec.ts
  apps/pangu/src/app/pages/import/import.page.spec.ts
  apps/pangu/src/app/pages/portfolio/portfolio.page.spec.ts
  apps/pangu/src/app/pages/portfolio/portfolio.page.ts
  apps/pangu/src/app/pages/transactions/transactions.page.css
  apps/pangu/src/app/pages/transactions/transactions.page.html
  apps/pangu/src/app/pages/transactions/transactions.page.spec.ts
  apps/pangu/src/app/pages/transactions/transactions.page.ts
  apps/pangu/src/app/services/core/market.service.ts
  apps/pangu/src/app/services/core/storage.service.spec.ts
  apps/pangu/src/app/services/core/storage.service.ts
Due: npx nx affected:lint --fix --files, npx stylelint --fix, npx nx format:write --files

chore: bump pnpm to 11.5.1
  .npmrc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: npx nx format:write --files

add txn page
  apps/pangu/src/app/app.component.html
  apps/pangu/src/app/app.routes.ts
  apps/pangu/src/app/components/transaction-drawer/transaction-drawer.component.html
  apps/pangu/src/app/components/transaction-drawer/transaction-drawer.component.spec.ts
  apps/pangu/src/app/components/transaction-drawer/transaction-drawer.component.ts
  apps/pangu/src/app/constants.ts
  apps/pangu/src/app/models/portfolio.ts
  apps/pangu/src/app/pages/dashboard/dashboard.page.spec.ts
  apps/pangu/src/app/pages/import/import.page.spec.ts
  apps/pangu/src/app/pages/portfolio/portfolio.page.spec.ts
  apps/pangu/src/app/pages/portfolio/portfolio.page.ts
  apps/pangu/src/app/pages/transactions/transactions.page.css
  apps/pangu/src/app/pages/transactions/transactions.page.html
  apps/pangu/src/app/pages/transactions/transactions.page.spec.ts
  apps/pangu/src/app/pages/transactions/transactions.page.ts
  apps/pangu/src/app/services/core/storage.service.spec.ts
  apps/pangu/src/app/services/core/storage.service.ts
Due: npx nx affected:lint --fix --files, npx stylelint --fix, npx nx format:write --files

auto focus site wide search on mobile
  apps/pangu/src/app/app.component.html
  apps/pangu/src/app/components/stock-search/stock-search.component.html
  apps/pangu/src/app/components/stock-search/stock-search.component.spec.ts
  apps/pangu/src/app/components/stock-search/stock-search.component.ts
  apps/pangu/src/app/components/transaction-drawer/transaction-drawer.component.spec.ts
  apps/pangu/src/app/pages/portfolio/portfolio.page.spec.ts
  pnpm-lock.yaml
Due: npx nx affected:lint --fix --files, npx nx format:write --files

fix coverage
  apps/pangu/src/app/pages/portfolio/portfolio.page.spec.ts
Due: npx nx affected:lint --fix --files, npx nx format:write --files

add coverage
  apps/pangu/src/app/components/transaction-drawer/transaction-drawer.component.spec.ts
  apps/pangu/src/app/pages/transactions/transactions.page.spec.ts
  apps/pangu/src/app/services/core/storage.service.spec.ts
Due: npx nx affected:lint --fix --files, npx nx format:write --files

fix coverage
  apps/pangu/src/app/components/transaction-drawer/transaction-drawer.component.spec.ts
  apps/pangu/src/app/components/transaction-drawer/transaction-drawer.component.ts
Due: npx nx affected:lint --fix --files, npx nx format:write --files

chore(ci): disable fail fast and rebase before push
  .github/workflows/deploy.yml
Due: npx nx format:write --files

chore(ci): disable fail fast and rebase before push (#80)
  .github/workflows/deploy.yml
Due: npx nx format:write --files

chore: trigger deployment
  apps/palan/src/index.html
  apps/pangu/src/index.html
  apps/vatti/src/index.html
Due: npx nx affected:lint --fix --files, npx nx format:write --files

fix(pangu): check quantity before showing portfolio stock icon
  apps/pangu/src/app/pages/stocks/stocks.page.ts
Due: npx nx affected:lint --fix --files, npx nx format:write --files

Update stocks.page.ts
  apps/pangu/src/app/pages/stocks/stocks.page.ts
Due: npx nx affected:lint --fix --files, npx nx format:write --files

fix(pangu): check quantity before showing portfolio stock icon (#81)
  apps/pangu/src/app/pages/stocks/stocks.page.ts
Due: npx nx affected:lint --fix --files, npx nx format:write --files

resolve merge conflicts and fix comments
  .lintstagedrc
  apps/palan-e2e/src/support/commands.ts
  apps/pangu-e2e/src/support/commands.ts
  apps/pangu/src/app/app.component.html
  apps/pangu/src/app/app.component.spec.ts
  apps/pangu/src/app/components/create-watch-list-wizard/create-watch-list-wizard.component.spec.ts
  apps/pangu/src/app/components/create-watch-list-wizard/create-watch-list-wizard.component.ts
  apps/pangu/src/app/components/stock-search/stock-search.component.html
  apps/pangu/src/app/components/stock-search/stock-search.component.ts
  apps/pangu/src/app/components/transaction-drawer/transaction-drawer.component.html
  apps/pangu/src/app/components/transaction-drawer/transaction-drawer.component.spec.ts
  apps/pangu/src/app/components/transaction-drawer/transaction-drawer.component.ts
  apps/pangu/src/app/constants.ts
  apps/pangu/src/app/pages/portfolio/portfolio.page.ts
  apps/pangu/src/app/pages/stocks/stocks.page.ts
  apps/pangu/src/app/pages/transactions/transactions.page.html
  apps/pangu/src/app/pages/transactions/transactions.page.spec.ts
  apps/pangu/src/app/pages/transactions/transactions.page.ts
  apps/pangu/src/app/pages/watch-lists/watch-lists.page.html
  apps/pangu/src/app/services/portfolio.service.spec.ts
  apps/pangu/src/app/services/watch-list.service.spec.ts
  apps/pangu/src/app/services/watch-list.service.ts
  apps/vatti-e2e/src/support/commands.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: npx nx affected:lint --fix --files, npx nx format:write --files

dummy commit to trigger ci
  .github/PULL_REQUEST_TEMPLATE.md
Due: npx nx format:write --files

fix ci
  .prettierignore
Due: npx nx format:write --files

Path conditions:
  npx nx affected:lint --fix --files: any of: apps/**/*.{ts,js,css,html,md,json}
  npx stylelint --fix: any of: *.css
  npx nx format:write --files: any of: *
