Repository hyperweavers/nidhi: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, stylelint --fix, nx format:write --files

.lintstagedrc:

{
  "apps/**/*.{ts,js,scss,css,html,md,json}": [
    "nx affected:lint --fix --files"
  ],
  "*.{scss,css}": [
    "stylelint --fix"
  ],
  "*": [
    "nx format:write --files"
  ]
}

add docs for fd calculation
  apps/kanippaan/src/app/pages/fixed-deposit-calculator/fixed-deposit-calculator.page.ts
Due: nx affected:lint --fix --files, nx format:write --files

improve fy calculation for fd
  apps/kanippaan/src/app/models/common.ts
  apps/kanippaan/src/app/pages/fixed-deposit-calculator/fixed-deposit-calculator.page.html
  apps/kanippaan/src/app/pages/fixed-deposit-calculator/fixed-deposit-calculator.page.ts
  apps/kanippaan/src/app/utils/date.utils.ts
Due: nx affected:lint --fix --files, nx format:write --files

add rd calculator
  apps/kanippaan/public/icons/recurring-deposit.svg
  apps/kanippaan/src/app/app.component.html
  apps/kanippaan/src/app/app.routes.ts
  apps/kanippaan/src/app/constants.ts
  apps/kanippaan/src/app/models/deposit.ts
  apps/kanippaan/src/app/pages/home/home.page.html
  apps/kanippaan/src/app/pages/recurring-deposit-calculator/recurring-deposit-calculator.page.html
  apps/kanippaan/src/app/pages/recurring-deposit-calculator/recurring-deposit-calculator.page.scss
  apps/kanippaan/src/app/pages/recurring-deposit-calculator/recurring-deposit-calculator.page.spec.ts
  apps/kanippaan/src/app/pages/recurring-deposit-calculator/recurring-deposit-calculator.page.ts
Due: nx affected:lint --fix --files, stylelint --fix, nx format:write --files

feat(kanippaan): add recurring deposit calculator (#17)
  .github/workflows/ci.yml
  apps/kanippaan/public/icons/recurring-deposit.svg
  apps/kanippaan/src/app/app.component.html
  apps/kanippaan/src/app/app.routes.ts
  apps/kanippaan/src/app/constants.ts
  apps/kanippaan/src/app/models/common.ts
  apps/kanippaan/src/app/models/deposit.ts
  apps/kanippaan/src/app/pages/fixed-deposit-calculator/fixed-deposit-calculator.page.html
  apps/kanippaan/src/app/pages/fixed-deposit-calculator/fixed-deposit-calculator.page.ts
  apps/kanippaan/src/app/pages/home/home.page.html
  apps/kanippaan/src/app/pages/loan-emi-calculator/loan-emi-calculator.page.ts
  apps/kanippaan/src/app/pages/recurring-deposit-calculator/recurring-deposit-calculator.page.html
  apps/kanippaan/src/app/pages/recurring-deposit-calculator/recurring-deposit-calculator.page.scss
  apps/kanippaan/src/app/pages/recurring-deposit-calculator/recurring-deposit-calculator.page.spec.ts
  apps/kanippaan/src/app/pages/recurring-deposit-calculator/recurring-deposit-calculator.page.ts
  apps/kanippaan/src/app/utils/date.utils.ts
  package-lock.json
  package.json
Due: nx affected:lint --fix --files, stylelint --fix, nx format:write --files

improve ci task distribution
  .github/workflows/ci.yml
Due: nx format:write --files

fix version update & install prompt display
  apps/kanippaan/src/app/app.component.html
  apps/kanippaan/src/app/app.component.ts
Due: nx affected:lint --fix --files, nx format:write --files

improve tab/view selection visibility
  apps/kanippaan/src/app/pages/fixed-deposit-calculator/fixed-deposit-calculator.page.html
  apps/kanippaan/src/app/pages/loan-emi-calculator/loan-emi-calculator.page.html
  apps/kanippaan/src/app/pages/recurring-deposit-calculator/recurring-deposit-calculator.page.html
Due: nx affected:lint --fix --files, nx format:write --files

apply common style to tooltip
  apps/kanippaan/src/app/pages/fixed-deposit-calculator/fixed-deposit-calculator.page.html
  apps/kanippaan/src/app/pages/gold-jewellery-price-calculator/gold-jewellery-price-calculator.page.html
  apps/kanippaan/src/app/pages/loan-emi-calculator/loan-emi-calculator.page.html
Due: nx affected:lint --fix --files, nx format:write --files

improve update pwa modal
  apps/kanippaan/src/app/app.component.html
Due: nx affected:lint --fix --files, nx format:write --files

add rd installment calculation for maturity
  apps/kanippaan/src/app/models/deposit.ts
  apps/kanippaan/src/app/pages/recurring-deposit-calculator/recurring-deposit-calculator.page.html
  apps/kanippaan/src/app/pages/recurring-deposit-calculator/recurring-deposit-calculator.page.ts
Due: nx affected:lint --fix --files, nx format:write --files

feat(kanippaan): add rd installment calculation for maturity (#18)
  .github/workflows/ci.yml
  apps/kanippaan/src/app/app.component.html
  apps/kanippaan/src/app/app.component.ts
  apps/kanippaan/src/app/models/deposit.ts
  apps/kanippaan/src/app/pages/fixed-deposit-calculator/fixed-deposit-calculator.page.html
  apps/kanippaan/src/app/pages/gold-jewellery-price-calculator/gold-jewellery-price-calculator.page.html
  apps/kanippaan/src/app/pages/loan-emi-calculator/loan-emi-calculator.page.html
  apps/kanippaan/src/app/pages/recurring-deposit-calculator/recurring-deposit-calculator.page.html
  apps/kanippaan/src/app/pages/recurring-deposit-calculator/recurring-deposit-calculator.page.ts
Due: nx affected:lint --fix --files, nx format:write --files

show telegram channel link on gold price calculator
  apps/kanippaan/src/app/pages/gold-jewellery-price-calculator/gold-jewellery-price-calculator.page.html
Due: nx affected:lint --fix --files, nx format:write --files

feat(kanippaan): show telegram channel link in gold price calculator (#19)
  apps/kanippaan/src/app/pages/gold-jewellery-price-calculator/gold-jewellery-price-calculator.page.html
Due: nx affected:lint --fix --files, nx format:write --files

improve home page and menu layout
  apps/vatti/src/app/app.component.html
  apps/vatti/src/app/pages/home/home.page.html
Due: nx affected:lint --fix --files, nx format:write --files

show loading while fetching gold price
  apps/vatti/src/app/pages/gold-jewellery-price-calculator/gold-jewellery-price-calculator.page.html
  apps/vatti/src/app/pages/gold-jewellery-price-calculator/gold-jewellery-price-calculator.page.ts
Due: nx affected:lint --fix --files, nx format:write --files

use nx linux medium agents for ci
  .github/workflows/ci.yml
Due: nx format:write --files

reduce api cache max size
  apps/vatti/ngsw-config.json
Due: nx affected:lint --fix --files, nx format:write --files

fix formatting issues
  apps/vatti/src/app/pages/page-not-found/page-not-found.page.scss
  apps/vatti/src/app/services/core/settings.service.ts
Due: nx affected:lint --fix --files, stylelint --fix, nx format:write --files

change calculators menu order
  apps/vatti/src/app/app.component.html
Due: nx affected:lint --fix --files, nx format:write --files

retain license and readme while deploying apps
  .github/workflows/deploy.yml
Due: nx format:write --files

use organizational token for deployment
  .github/workflows/deploy.yml
Due: nx format:write --files

chore(vatti): retain license and readme while deploying apps (#21)
  .github/workflows/deploy.yml
  apps/vatti/src/app/app.component.html
Due: nx affected:lint --fix --files, nx format:write --files

update readme
  README.md
Due: nx format:write --files

add cname to deployment retention list
  .github/workflows/deploy.yml
Due: nx format:write --files

disable empty sources stylelint check
  .stylelintrc.json
Due: nx format:write --files

add post office schemes page and data services
  .vscode/settings.json
  apps/vatti/public/icons/post-office-savings-schemes.svg
  apps/vatti/src/app/app.component.html
  apps/vatti/src/app/app.routes.ts
  apps/vatti/src/app/constants.ts
  apps/vatti/src/app/models/common.ts
  apps/vatti/src/app/models/deposit.ts
  apps/vatti/src/app/pages/home/home.page.html
  apps/vatti/src/app/pages/post-office-savings-schemes/post-office-savings-schemes.page.html
  apps/vatti/src/app/pages/post-office-savings-schemes/post-office-savings-schemes.page.scss
  apps/vatti/src/app/pages/post-office-savings-schemes/post-office-savings-schemes.page.spec.ts
  apps/vatti/src/app/pages/post-office-savings-schemes/post-office-savings-schemes.page.ts
  apps/vatti/src/app/services/core/data.service.ts
Due: nx affected:lint --fix --files, stylelint --fix, nx format:write --files

assign new issues to project
  .github/ISSUE_TEMPLATE/01_bug_report.md
  .github/ISSUE_TEMPLATE/02_feature_request.md
Due: nx format:write --files

use proper id for tooltips
  apps/vatti/src/app/pages/fixed-deposit-calculator/fixed-deposit-calculator.page.html
  apps/vatti/src/app/pages/gold-jewellery-price-calculator/gold-jewellery-price-calculator.page.html
Due: nx affected:lint --fix --files, nx format:write --files

add new api urls to sw cache
  apps/vatti/ngsw-config.json
Due: nx affected:lint --fix --files, nx format:write --files

display post office schemes and earnings table
  .vscode/settings.json
  apps/vatti/src/app/models/deposit.ts
  apps/vatti/src/app/pages/post-office-savings-schemes/post-office-savings-schemes.page.html
  apps/vatti/src/app/pages/post-office-savings-schemes/post-office-savings-schemes.page.scss
  apps/vatti/src/app/pages/post-office-savings-schemes/post-office-savings-schemes.page.ts
  apps/vatti/src/app/utils/date.utils.ts
Due: nx affected:lint --fix --files, stylelint --fix, nx format:write --files

fix radio button and label mapping
  apps/vatti/src/app/pages/recurring-deposit-calculator/recurring-deposit-calculator.page.html
Due: nx affected:lint --fix --files, nx format:write --files

minor improvements and code cleanup
  apps/vatti/src/app/pages/gold-jewellery-price-calculator/gold-jewellery-price-calculator.page.ts
  apps/vatti/src/app/utils/chart.utils.ts
Due: nx affected:lint --fix --files, nx format:write --files

rename yearly as annually in payout and compounding enums
  apps/vatti/src/app/models/deposit.ts
  apps/vatti/src/app/utils/date.utils.ts
Due: nx affected:lint --fix --files, nx format:write --files

finish poss calculation
  apps/vatti/src/app/models/common.ts
  apps/vatti/src/app/models/deposit.ts
  apps/vatti/src/app/pages/fixed-deposit-calculator/fixed-deposit-calculator.page.html
  apps/vatti/src/app/pages/fixed-deposit-calculator/fixed-deposit-calculator.page.ts
  apps/vatti/src/app/pages/gold-jewellery-price-calculator/gold-jewellery-price-calculator.page.html
  apps/vatti/src/app/pages/loan-emi-calculator/loan-emi-calculator.page.html
  apps/vatti/src/app/pages/loan-emi-calculator/loan-emi-calculator.page.ts
  apps/vatti/src/app/pages/post-office-savings-schemes/post-office-savings-schemes.page.html
  apps/vatti/src/app/pages/post-office-savings-schemes/post-office-savings-schemes.page.ts
  apps/vatti/src/app/pages/recurring-deposit-calculator/recurring-deposit-calculator.page.html
  apps/vatti/src/app/pages/recurring-deposit-calculator/recurring-deposit-calculator.page.ts
  apps/vatti/src/app/services/core/data.service.ts
  apps/vatti/src/app/utils/date.utils.ts
Due: nx affected:lint --fix --files, nx format:write --files

code cleanup
  apps/vatti/src/app/app.component.html
  apps/vatti/src/app/pages/gold-jewellery-price-calculator/gold-jewellery-price-calculator.page.html
Due: nx affected:lint --fix --files, nx format:write --files

fix gap between grouped bars in chart
  apps/vatti/src/app/utils/chart.utils.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix flowbite initialization on dynamic components
  apps/pangu/src/app/app.component.ts
  apps/vatti/src/app/app.component.ts
  apps/vatti/src/app/decorators/flowbite.decorator.ts
  apps/vatti/src/app/pages/gold-jewellery-price-calculator/gold-jewellery-price-calculator.page.ts
  apps/vatti/src/app/pages/post-office-savings-schemes/post-office-savings-schemes.page.html
  apps/vatti/src/app/pages/post-office-savings-schemes/post-office-savings-schemes.page.ts
  apps/vatti/src/app/services/core/data.service.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix ut
  apps/vatti/src/app/pages/post-office-savings-schemes/post-office-savings-schemes.page.spec.ts
Due: nx affected:lint --fix --files, nx format:write --files
