Repository hyperweavers/nidhi: changes, and which lint-staged commands are due for each by the changed paths.
All: npx nx affected:lint --fix --files, npx stylelint --fix, npx nx format:write --files

chore: fix deployment
  .github/workflows/deploy.yml
  .gitignore
  apps/palan/src/index.html
  apps/pangu/src/index.html
  apps/vatti/src/index.html
Due: npx nx affected:lint --fix --files, npx nx format:write --files

feat(pangu): add ipo calender & detail pages
  .gitignore
  apps/pangu/src/app/app.component.html
  apps/pangu/src/app/app.routes.ts
  apps/pangu/src/app/constants.ts
  apps/pangu/src/app/mocks/handlers.ts
  apps/pangu/src/app/mocks/ipo-data.ts
  apps/pangu/src/app/models/ipo.ts
  apps/pangu/src/app/models/vendor/etm.ts
  apps/pangu/src/app/pages/ipo-details/ipo-details.page.css
  apps/pangu/src/app/pages/ipo-details/ipo-details.page.html
  apps/pangu/src/app/pages/ipo-details/ipo-details.page.spec.ts
  apps/pangu/src/app/pages/ipo-details/ipo-details.page.ts
  apps/pangu/src/app/pages/ipo/ipo.page.css
  apps/pangu/src/app/pages/ipo/ipo.page.html
  apps/pangu/src/app/pages/ipo/ipo.page.spec.ts
  apps/pangu/src/app/pages/ipo/ipo.page.ts
  apps/pangu/src/app/pages/page-not-found/page-not-found.page.html
  apps/pangu/src/app/services/core/market.service.spec.ts
  apps/pangu/src/app/services/core/market.service.ts
  apps/pangu/src/app/services/ipo.service.spec.ts
  apps/pangu/src/app/services/ipo.service.ts
  apps/pangu/src/styles.css
Due: npx nx affected:lint --fix --files, npx stylelint --fix, npx nx format:write --files

chore: add codecov patch coverage check & hook
  .husky/pre-push
  apps/palan/project.json
  apps/pangu/project.json
  apps/pangu/src/app/pages/ipo-details/ipo-details.page.spec.ts
  apps/pangu/src/app/pages/ipo/ipo.page.spec.ts
  apps/pangu/src/app/services/core/market.service.spec.ts
  apps/vatti/project.json
  codecov.yml
  libs/shared/http/project.json
  libs/shared/logger/project.json
  libs/shared/sentry/project.json
  libs/shared/toast/project.json
  tools/scripts/check-patch-coverage.mjs
Due: npx nx affected:lint --fix --files, npx nx format:write --files

chore: add quality gates to agent instructions
  AGENTS.md
Due: npx nx format:write --files

feat(pangu): add ipo calender & detail pages (#83)
  .gitignore
  .husky/pre-push
  AGENTS.md
  apps/palan/project.json
  apps/pangu/project.json
  apps/pangu/src/app/app.component.html
  apps/pangu/src/app/app.routes.ts
  apps/pangu/src/app/constants.ts
  apps/pangu/src/app/mocks/handlers.ts
  apps/pangu/src/app/mocks/ipo-data.ts
  apps/pangu/src/app/models/ipo.ts
  apps/pangu/src/app/models/vendor/etm.ts
  apps/pangu/src/app/pages/ipo-details/ipo-details.page.css
  apps/pangu/src/app/pages/ipo-details/ipo-details.page.html
  apps/pangu/src/app/pages/ipo-details/ipo-details.page.spec.ts
  apps/pangu/src/app/pages/ipo-details/ipo-details.page.ts
  apps/pangu/src/app/pages/ipo/ipo.page.css
  apps/pangu/src/app/pages/ipo/ipo.page.html
  apps/pangu/src/app/pages/ipo/ipo.page.spec.ts
  apps/pangu/src/app/pages/ipo/ipo.page.ts
  apps/pangu/src/app/pages/page-not-found/page-not-found.page.html
  apps/pangu/src/app/services/core/market.service.spec.ts
  apps/pangu/src/app/services/core/market.service.ts
  apps/pangu/src/app/services/ipo.service.spec.ts
  apps/pangu/src/app/services/ipo.service.ts
  apps/pangu/src/styles.css
  apps/vatti/project.json
  codecov.yml
  libs/shared/http/project.json
  libs/shared/logger/project.json
  libs/shared/sentry/project.json
  libs/shared/toast/project.json
  tools/scripts/check-patch-coverage.mjs
Due: npx nx affected:lint --fix --files, npx stylelint --fix, npx nx format:write --files

add playwright mcp to opencode config
  .opencode/opencode.json
Due: npx nx format:write --files

feat(pangu): add screener
  AGENTS.md
  DESIGN.md
  INSTRUCTIONS.md
  apps/pangu/src/app/adapters/market.adapter.ts
  apps/pangu/src/app/app.component.html
  apps/pangu/src/app/app.routes.ts
  apps/pangu/src/app/components/query-builder/query-builder.component.css
  apps/pangu/src/app/components/query-builder/query-builder.component.html
  apps/pangu/src/app/components/query-builder/query-builder.component.spec.ts
  apps/pangu/src/app/components/query-builder/query-builder.component.ts
  apps/pangu/src/app/constants.ts
  apps/pangu/src/app/db/app.db.ts
  apps/pangu/src/app/mocks/handlers.ts
  apps/pangu/src/app/models/query-builder.spec.ts
  apps/pangu/src/app/models/query-builder.ts
  apps/pangu/src/app/models/screener.ts
  apps/pangu/src/app/models/vendor/etm.ts
  apps/pangu/src/app/pages/add-screener/add-screener.page.css
  apps/pangu/src/app/pages/add-screener/add-screener.page.html
  apps/pangu/src/app/pages/add-screener/add-screener.page.spec.ts
  apps/pangu/src/app/pages/add-screener/add-screener.page.ts
  apps/pangu/src/app/pages/screener/screener.page.css
  apps/pangu/src/app/pages/screener/screener.page.html
  apps/pangu/src/app/pages/screener/screener.page.spec.ts
  apps/pangu/src/app/pages/screener/screener.page.ts
  apps/pangu/src/app/pages/screeners/screeners.page.css
  apps/pangu/src/app/pages/screeners/screeners.page.html
  apps/pangu/src/app/pages/screeners/screeners.page.spec.ts
  apps/pangu/src/app/pages/screeners/screeners.page.ts
  apps/pangu/src/app/services/core/market.service.spec.ts
  apps/pangu/src/app/services/core/market.service.ts
  apps/pangu/src/app/services/screener.service.spec.ts
  apps/pangu/src/app/services/screener.service.ts
Due: npx nx affected:lint --fix --files, npx stylelint --fix, npx nx format:write --files

format msw files
  apps/palan/public/mockServiceWorker.js
  apps/pangu/public/mockServiceWorker.js
  apps/vatti/public/mockServiceWorker.js
Due: npx nx affected:lint --fix --files, npx nx format:write --files

chore: [nx migration] checkpoint before running migrations
  .nvmrc
  migrations.json
  nx.json
  package.json
  pnpm-lock.yaml
  tools/ai-migrations/@nx/eslint/23.2.1/convert-to-flat-config.md
  tools/ai-migrations/@nx/eslint/23.2.1/migrate-ban-types-rule.md
  tools/ai-migrations/@nx/jest/23.2.1/verify-typecheck.md
Due: npx nx format:write --files

chore: [nx migration] checkpoint before running migrations
  .gitignore
Due: npx nx format:write --files

Create CNAME
  CNAME
Due: npx nx format:write --files

Delete CNAME
  CNAME
Due: npx nx format:write --files

Path conditions:
  npx nx affected:lint --fix --files: any of: apps/**/*.{ts,js,css,html,md,json}
  npx stylelint --fix: any of: *.css
  npx nx format:write --files: any of: *
