Repository hyperweavers/nidhi: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected --target lint --uncommitted --fix true, nx format:write --uncommitted, stylelint --fix

update readme badges
  README.md
Due: nx format:write --uncommitted

Remove commitlint & commitizen and add css linting
  .commitlintrc
  .czrc
  .husky/commit-msg
  .husky/prepare-commit-msg
  .lintstagedrc
  .stylelintrc.json
  package-lock.json
  package.json
Due: nx format:write --uncommitted

chore: remove commitlintrc schema and add spell check to vscode settings
  .vscode/settings.json
Due: nx format:write --uncommitted

chore: fix lint-staged failure with pattern match
  .lintstagedrc
Due: nx format:write --uncommitted

fix(pangu): use proper name for stock price limits
  apps/pangu/src/app/models/stock.ts
Due: nx affected --target lint --uncommitted --fix true, nx format:write --uncommitted

chore(pangu): clean up terms page
  apps/pangu/src/app/pages/terms/terms.page.html
Due: nx affected --target lint --uncommitted --fix true, nx format:write --uncommitted

chore(pangu): remove 'page' suffix from page component selectors
  apps/pangu/src/app/pages/about/about.page.ts
  apps/pangu/src/app/pages/dashboard/dashboard.page.ts
  apps/pangu/src/app/pages/delete/delete.page.ts
  apps/pangu/src/app/pages/export/export.page.ts
  apps/pangu/src/app/pages/import/import.page.ts
  apps/pangu/src/app/pages/page-not-found/page-not-found.page.ts
  apps/pangu/src/app/pages/portfolio/portfolio.page.ts
  apps/pangu/src/app/pages/privacy/privacy.page.ts
  apps/pangu/src/app/pages/terms/terms.page.ts
Due: nx affected --target lint --uncommitted --fix true, nx format:write --uncommitted

perf: unify interface for portfolio and index kpi cards in dashboard
  apps/pangu/src/app/models/kpi.ts
  apps/pangu/src/app/pages/dashboard/dashboard.page.html
  apps/pangu/src/app/pages/dashboard/dashboard.page.ts
  apps/pangu/src/app/services/dashboard.service.spec.ts
  apps/pangu/src/app/services/dashboard.service.ts
Due: nx affected --target lint --uncommitted --fix true, nx format:write --uncommitted

chore(pangu): remove duplicate tailwind class name in portfolio page
  apps/pangu/src/app/pages/portfolio/portfolio.page.html
Due: nx affected --target lint --uncommitted --fix true, nx format:write --uncommitted

fix(pangu): prevent side menu vertical overflow and disable site-wide search
  apps/pangu/src/app/app.component.html
  apps/pangu/src/app/app.component.ts
Due: nx affected --target lint --uncommitted --fix true, nx format:write --uncommitted

chore(pangu): use proper scope for services injected in portfolio page
  apps/pangu/src/app/pages/portfolio/portfolio.page.ts
Due: nx affected --target lint --uncommitted --fix true, nx format:write --uncommitted

fix(pangu): prevent duplicate share popup on cancel sharing
  apps/pangu/src/app/app.component.ts
Due: nx affected --target lint --uncommitted --fix true, nx format:write --uncommitted

fix(pangu): improve title bar space utilization by moving github icon to side menu
  apps/pangu/src/app/app.component.html
Due: nx affected --target lint --uncommitted --fix true, nx format:write --uncommitted

fix(pangu): prevent dashboard index cards advance decline value mismatch
  apps/pangu/src/app/services/core/market.service.ts
Due: nx affected --target lint --uncommitted --fix true, nx format:write --uncommitted

fix(pangu): handle sidebar toggle properly on mobile devices
  apps/pangu/src/app/app.component.html
  apps/pangu/src/app/app.component.ts
Due: nx affected --target lint --uncommitted --fix true, nx format:write --uncommitted

refactor(pangu): deduplicate code and add functions for index details & market status in market service
  apps/pangu/src/app/constants.ts
  apps/pangu/src/app/models/index.ts
  apps/pangu/src/app/models/market.ts
  apps/pangu/src/app/services/core/market.service.ts
Due: nx affected --target lint --uncommitted --fix true, nx format:write --uncommitted

feat(pangu): show market operating status in title bar
  apps/pangu/src/app/app.component.html
  apps/pangu/src/app/app.component.ts
  apps/pangu/src/app/services/core/market.service.ts
Due: nx affected --target lint --uncommitted --fix true, nx format:write --uncommitted

feat(pangu): periodically refresh data at configurable interval when the market is open
  apps/pangu/src/app/constants.ts
  apps/pangu/src/app/models/settings.ts
  apps/pangu/src/app/pages/settings/settings.page.html
  apps/pangu/src/app/pages/settings/settings.page.ts
  apps/pangu/src/app/services/core/market.service.ts
  apps/pangu/src/app/services/core/settings.service.ts
  apps/pangu/src/app/services/dashboard.service.ts
  apps/pangu/src/app/services/portfolio.service.ts
Due: nx affected --target lint --uncommitted --fix true, nx format:write --uncommitted

feat(pangu): move theme selection to new page for settings
  apps/pangu/src/app/app.component.html
  apps/pangu/src/app/app.routes.ts
  apps/pangu/src/app/constants.ts
  apps/pangu/src/app/models/settings.ts
  apps/pangu/src/app/pages/settings/settings.page.html
  apps/pangu/src/app/pages/settings/settings.page.scss
  apps/pangu/src/app/pages/settings/settings.page.spec.ts
  apps/pangu/src/app/pages/settings/settings.page.ts
  apps/pangu/src/app/services/core/settings.service.spec.ts
  apps/pangu/src/app/services/core/settings.service.ts
Due: nx affected --target lint --uncommitted --fix true, nx format:write --uncommitted, stylelint --fix

chore(pangu): clean up log messages in portfolio page
  apps/pangu/src/app/pages/portfolio/portfolio.page.ts
Due: nx affected --target lint --uncommitted --fix true, nx format:write --uncommitted

feat(pangu): add a button to manually refresh data
  apps/pangu/src/app/app.component.html
  apps/pangu/src/app/app.component.ts
  apps/pangu/src/app/services/core/market.service.ts
Due: nx affected --target lint --uncommitted --fix true, nx format:write --uncommitted

chore: add gh-pages deployment npm script
  package.json
Due: nx format:write --uncommitted

show full company name in transaction search
  apps/pangu/src/app/services/core/market.service.ts
Due: nx affected --target lint --uncommitted --fix true, nx format:write --uncommitted

show total daily p/l based on holding quantity
  apps/pangu/src/app/pages/portfolio/portfolio.page.html
Due: nx affected --target lint --uncommitted --fix true, nx format:write --uncommitted

reset datepicker
  apps/pangu/src/app/pages/portfolio/portfolio.page.ts
Due: nx affected --target lint --uncommitted --fix true, nx format:write --uncommitted

feat(pangu): add necessary tooling
  .commitlintrc
  .czrc
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .husky/prepare-commit-msg
  .lintstagedrc
  .prettierrc
  .stylelintrc.json
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  package-lock.json
  package.json
Due: nx format:write --uncommitted

Path conditions:
  nx affected --target lint --uncommitted --fix true: any of: apps/**/*.{ts,js,scss,css,html,md,json}
  nx format:write --uncommitted: any of: *
  stylelint --fix: any of: *.scss
