Repository hyperweavers/nidhi: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, stylelint --fix, nx format:write --files

update package lock
  package-lock.json
Due: nx format:write --files

ncu 1
  package-lock.json
  package.json
Due: nx format:write --files

ncu 2
  apps/palan/jest.config.ts
  apps/palan/src/app/pages/stocks/stocks.page.ts
  apps/pangu/jest.config.ts
  apps/pangu/src/app/pages/indices/indices.page.ts
  apps/pangu/src/app/pages/stocks/stocks.page.ts
  package-lock.json
  package.json
Due: nx affected:lint --fix --files, nx format:write --files

fix: update stocks historic chart api url
  apps/pangu/src/app/constants.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix: update stocks historic chart api url (#39)
  apps/pangu/src/app/constants.ts
Due: nx affected:lint --fix --files, nx format:write --files

Update GitHub Pages deploy action version
  .github/workflows/deploy.yml
Due: nx format:write --files

chore: update GitHub Pages deploy action version (#40)
  .github/workflows/deploy.yml
Due: nx format:write --files

fix(pangu): apply disabled property appropriately for exchange tab
  apps/pangu/src/app/pages/stocks/stocks.page.html
Due: nx affected:lint --fix --files, nx format:write --files

fix(pangu): apply disabled property appropriately for exchange tab (#41)
  apps/pangu/src/app/pages/stocks/stocks.page.html
Due: nx affected:lint --fix --files, nx format:write --files

fix(pangu): show portfolio summary when filter/search result is empty
  .github/workflows/deploy.yml
  apps/pangu/src/app/pages/portfolio/portfolio.page.html
Due: nx affected:lint --fix --files, nx format:write --files

fix(pangu): show portfolio summary when filter/search result is empty (#42)
  .github/workflows/deploy.yml
  apps/pangu/src/app/pages/portfolio/portfolio.page.html
Due: nx affected:lint --fix --files, nx format:write --files

fix(pangu): update index historic chart api url
  apps/pangu/src/app/constants.ts
Due: nx affected:lint --fix --files, nx format:write --files

update deploy pipeline file
  .github/workflows/deploy.yml
Due: nx format:write --files

add debug step
  .github/workflows/deploy.yml
Due: nx format:write --files

fix(pangu): update index historic chart api url (#43)
  .github/workflows/deploy.yml
  apps/pangu/src/app/constants.ts
Due: nx affected:lint --fix --files, nx format:write --files

clean up deploy pipeline
  .github/workflows/deploy.yml
Due: nx format:write --files

improve portfolio summary display logic
  apps/pangu/src/app/pages/portfolio/portfolio.page.html
Due: nx affected:lint --fix --files, nx format:write --files

fix(pangu): display portfolio summary only if investment and market values are positive (#44)
  .github/workflows/deploy.yml
  apps/pangu/src/app/pages/portfolio/portfolio.page.html
Due: nx affected:lint --fix --files, nx format:write --files

fix(pangu): apply no value placeholder for all values
  apps/pangu/src/app/pages/dashboard/dashboard.page.html
  apps/pangu/src/app/pages/dashboard/dashboard.page.ts
  apps/pangu/src/app/pages/indices/indices.page.html
  apps/pangu/src/app/pages/indices/indices.page.ts
  apps/pangu/src/app/pages/portfolio/portfolio.page.html
  apps/pangu/src/app/pages/portfolio/portfolio.page.ts
  apps/pangu/src/app/pages/stocks/stocks.page.html
  apps/pangu/src/app/pages/stocks/stocks.page.ts
  apps/pangu/src/app/pipes/value-or-placeholder.pipe.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix(pangu): apply no value placeholder for all values (#45)
  apps/pangu/src/app/pages/dashboard/dashboard.page.html
  apps/pangu/src/app/pages/dashboard/dashboard.page.ts
  apps/pangu/src/app/pages/indices/indices.page.html
  apps/pangu/src/app/pages/indices/indices.page.ts
  apps/pangu/src/app/pages/portfolio/portfolio.page.html
  apps/pangu/src/app/pages/portfolio/portfolio.page.ts
  apps/pangu/src/app/pages/stocks/stocks.page.html
  apps/pangu/src/app/pages/stocks/stocks.page.ts
  apps/pangu/src/app/pipes/value-or-placeholder.pipe.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix(palan): restrict decimal precision for quantity to 2
  apps/palan/src/app/pages/portfolio/portfolio.page.html
Due: nx affected:lint --fix --files, nx format:write --files

fix(palan): restrict decimal precision for quantity to 2 (#46)
  apps/palan/src/app/pages/portfolio/portfolio.page.html
Due: nx affected:lint --fix --files, nx format:write --files

coc update
  CODE_OF_CONDUCT.md
  README.md
Due: nx format:write --files

lint fix
  apps/palan/src/app/app.component.ts
  apps/palan/src/app/directives/drawer-closed/drawer-closed.directive.ts
  apps/palan/src/app/pages/dashboard/dashboard.page.ts
  apps/palan/src/app/pages/delete/delete.page.ts
  apps/palan/src/app/pages/export/export.page.ts
  apps/palan/src/app/pages/import/import.page.ts
  apps/palan/src/app/pages/plan/plan.page.ts
  apps/palan/src/app/pages/portfolio/portfolio.page.ts
  apps/palan/src/app/pages/settings/settings.page.ts
  apps/palan/src/app/pages/stocks/stocks.page.ts
  apps/palan/src/app/services/core/currency.service.ts
  apps/palan/src/app/services/core/market.service.ts
  apps/palan/src/app/services/core/settings.service.ts
  apps/palan/src/app/services/core/storage.service.ts
  apps/palan/src/app/services/dashboard.service.ts
  apps/palan/src/app/services/portfolio.service.ts
  apps/pangu/src/app/app.component.ts
  apps/pangu/src/app/directives/drawer-closed/drawer-closed.directive.ts
  apps/pangu/src/app/pages/dashboard/dashboard.page.ts
  apps/pangu/src/app/pages/delete/delete.page.ts
  apps/pangu/src/app/pages/export/export.page.ts
  apps/pangu/src/app/pages/import/import.page.ts
  apps/pangu/src/app/pages/indices/indices.page.ts
  apps/pangu/src/app/pages/portfolio/portfolio.page.ts
  apps/pangu/src/app/pages/settings/settings.page.ts
  apps/pangu/src/app/pages/stocks/stocks.page.ts
  apps/pangu/src/app/services/core/market.service.ts
  apps/pangu/src/app/services/core/settings.service.ts
  apps/pangu/src/app/services/dashboard.service.ts
  apps/pangu/src/app/services/portfolio.service.ts
  apps/vatti/src/app/app.component.ts
  apps/vatti/src/app/pages/fixed-deposit-calculator/fixed-deposit-calculator.page.ts
  apps/vatti/src/app/pages/gold-jewellery-price-calculator/gold-jewellery-price-calculator.page.ts
  apps/vatti/src/app/pages/loan-emi-calculator/loan-emi-calculator.page.ts
  apps/vatti/src/app/pages/post-office-savings-schemes/post-office-savings-schemes.page.ts
  apps/vatti/src/app/pages/recurring-deposit-calculator/recurring-deposit-calculator.page.ts
  apps/vatti/src/app/pages/settings/settings.page.ts
  apps/vatti/src/app/services/core/data.service.ts
  apps/vatti/src/app/services/core/settings.service.ts
Due: nx affected:lint --fix --files, nx format:write --files

update node
  .nvmrc
Due: nx format:write --files

revamp portfolio
  apps/palan/src/app/services/portfolio.service.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix npm install
  package-lock.json
  package.json
Due: nx format:write --files

fix format
  .lintstagedrc
  apps/palan/src/app/models/settings.ts
  apps/palan/src/app/pages/about/about.page.ts
  apps/palan/src/app/pages/disclaimer/disclaimer.page.ts
  apps/palan/src/app/pages/page-not-found/page-not-found.page.ts
  apps/palan/src/app/pages/privacy/privacy.page.ts
  apps/palan/src/app/pages/terms/terms.page.ts
  apps/pangu/ngsw-config.json
  apps/pangu/src/app/app.config.ts
  apps/pangu/src/app/models/settings.ts
  apps/pangu/src/app/pages/about/about.page.ts
  apps/pangu/src/app/pages/dashboard/dashboard.page.spec.ts
  apps/pangu/src/app/pages/delete/delete.page.html
  apps/pangu/src/app/pages/disclaimer/disclaimer.page.ts
  apps/pangu/src/app/pages/export/export.page.html
  apps/pangu/src/app/pages/import/import.page.html
  apps/pangu/src/app/pages/page-not-found/page-not-found.page.scss
  apps/pangu/src/app/pages/page-not-found/page-not-found.page.ts
  apps/pangu/src/app/pages/portfolio/portfolio.page.spec.ts
  apps/pangu/src/app/pages/privacy/privacy.page.ts
  apps/pangu/src/app/pages/terms/terms.page.ts
  apps/pangu/src/app/services/core/market.service.spec.ts
  apps/pangu/src/app/services/core/storage.service.spec.ts
  apps/pangu/src/app/services/portfolio.service.spec.ts
  apps/pangu/src/main.ts
  apps/pangu/tailwind.config.js
  apps/vatti/src/app/app.routes.ts
  apps/vatti/src/app/models/deposit.ts
  apps/vatti/src/app/pages/about/about.page.ts
  apps/vatti/src/app/pages/disclaimer/disclaimer.page.ts
  apps/vatti/src/app/pages/home/home.page.ts
  apps/vatti/src/app/pages/page-not-found/page-not-found.page.ts
  apps/vatti/src/app/pages/privacy/privacy.page.ts
  apps/vatti/src/app/pages/terms/terms.page.ts
Due: nx affected:lint --fix --files, stylelint --fix, nx format:write --files

audit fix 1
  package-lock.json
  package.json
Due: nx format:write --files

migrate output to signals
  apps/palan/src/app/directives/drawer-closed/drawer-closed.directive.ts
  apps/pangu/src/app/directives/drawer-closed/drawer-closed.directive.ts
Due: nx affected:lint --fix --files, nx format:write --files

migrate queries to signals
  apps/palan/src/app/pages/import/import.page.ts
  apps/palan/src/app/pages/portfolio/portfolio.page.ts
  apps/palan/src/app/pages/stocks/stocks.page.ts
  apps/pangu/src/app/pages/import/import.page.ts
  apps/pangu/src/app/pages/indices/indices.page.ts
  apps/pangu/src/app/pages/portfolio/portfolio.page.ts
  apps/pangu/src/app/pages/stocks/stocks.page.ts
  apps/vatti/src/app/pages/fixed-deposit-calculator/fixed-deposit-calculator.page.ts
  apps/vatti/src/app/pages/gold-jewellery-price-calculator/gold-jewellery-price-calculator.page.ts
  apps/vatti/src/app/pages/loan-emi-calculator/loan-emi-calculator.page.ts
  apps/vatti/src/app/pages/post-office-savings-schemes/post-office-savings-schemes.page.ts
  apps/vatti/src/app/pages/recurring-deposit-calculator/recurring-deposit-calculator.page.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix ut 1
  apps/palan/src/app/directives/drawer-closed/drawer-closed.directive.spec.ts
  apps/pangu/src/app/directives/drawer-closed/drawer-closed.directive.spec.ts
  apps/pangu/src/test-setup.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix ut 2
  apps/vatti/src/app/pages/fixed-deposit-calculator/fixed-deposit-calculator.page.ts
  apps/vatti/src/app/pages/loan-emi-calculator/loan-emi-calculator.page.ts
  apps/vatti/src/app/pages/recurring-deposit-calculator/recurring-deposit-calculator.page.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix lint 2
  .eslintrc.json
  package-lock.json
  package.json
Due: nx format:write --files

fix lint 1
  .eslintrc.json
  apps/palan/src/app/directives/drawer-closed/drawer-closed.directive.spec.ts
  apps/palan/src/app/services/core/settings.service.ts
  apps/pangu/src/app/directives/drawer-closed/drawer-closed.directive.spec.ts
  apps/pangu/src/app/services/core/market.service.ts
  apps/pangu/src/app/services/core/settings.service.ts
  apps/pangu/src/app/services/portfolio.service.ts
  apps/vatti/src/app/services/core/settings.service.ts
  package-lock.json
  package.json
Due: nx affected:lint --fix --files, nx format:write --files

fix format
  apps/palan/src/app/directives/drawer-closed/drawer-closed.directive.spec.ts
  apps/palan/src/app/directives/drawer-closed/drawer-closed.directive.ts
  apps/palan/src/app/pages/import/import.page.ts
  apps/palan/src/app/pages/portfolio/portfolio.page.ts
  apps/palan/src/app/pages/stocks/stocks.page.ts
  apps/pangu/src/app/directives/drawer-closed/drawer-closed.directive.spec.ts
  apps/pangu/src/app/directives/drawer-closed/drawer-closed.directive.ts
  apps/pangu/src/app/pages/import/import.page.ts
  apps/pangu/src/app/pages/indices/indices.page.ts
  apps/pangu/src/app/pages/portfolio/portfolio.page.ts
  apps/pangu/src/app/pages/stocks/stocks.page.ts
  apps/pangu/src/test-setup.ts
  apps/vatti/src/app/pages/fixed-deposit-calculator/fixed-deposit-calculator.page.ts
  apps/vatti/src/app/pages/gold-jewellery-price-calculator/gold-jewellery-price-calculator.page.ts
  apps/vatti/src/app/pages/loan-emi-calculator/loan-emi-calculator.page.ts
  apps/vatti/src/app/pages/post-office-savings-schemes/post-office-savings-schemes.page.ts
  apps/vatti/src/app/pages/recurring-deposit-calculator/recurring-deposit-calculator.page.ts
Due: nx affected:lint --fix --files, nx format:write --files

Path conditions:
  nx affected:lint --fix --files: any of: apps/**/*.{ts,js,scss,css,html,md,json}
  stylelint --fix: any of: *.{scss,css}
  nx format:write --files: any of: *
