Repository hyperweavers/nidhi: changes, and which lint-staged commands are due for each by the changed paths.
All: npx nx affected:lint --fix --files, npx stylelint --fix, npx nx format:write --files

.lintstagedrc:

{
  "apps/**/*.{ts,js,scss,css,html,md,json}": ["npx nx affected:lint --fix --files"],
  "*.{scss,css}": ["npx stylelint --fix"],
  "*": ["npx nx format:write --files"]
}

improvements
  .husky/pre-push
  .lintstagedrc
  .nvmrc
  apps/palan/src/app/app.component.ts
  apps/palan/src/app/constants.ts
  apps/palan/src/app/decorators/flowbite.decorator.ts
  apps/palan/src/app/directives/drawer-closed/drawer-closed.directive.ts
  apps/palan/src/app/pages/dashboard/dashboard.page.ts
  apps/palan/src/app/pages/plan/plan.page.ts
  apps/palan/src/app/pages/portfolio/portfolio.page.ts
  apps/palan/src/app/pages/stocks/stocks.page.ts
  apps/palan/src/app/services/core/storage.service.ts
  apps/palan/src/app/services/dashboard.service.ts
  apps/palan/src/index.html
  apps/pangu/src/app/app.component.ts
  apps/pangu/src/app/decorators/flowbite.decorator.ts
  apps/pangu/src/app/directives/drawer-closed/drawer-closed.directive.ts
  apps/pangu/src/app/pages/delete/delete.page.ts
  apps/pangu/src/app/pages/export/export.page.ts
  apps/pangu/src/app/pages/import/import.page.ts
  apps/pangu/src/app/pages/indices/indices.page.ts
  apps/pangu/src/app/pages/portfolio/portfolio.page.html
  apps/pangu/src/app/pages/portfolio/portfolio.page.ts
  apps/pangu/src/app/pages/settings/settings.page.ts
  apps/pangu/src/app/pages/stocks/stocks.page.ts
  apps/pangu/src/app/pipes/value-or-placeholder.pipe.ts
  apps/pangu/src/app/services/dashboard.service.ts
  apps/pangu/src/app/services/portfolio.service.ts
  apps/pangu/src/index.html
  apps/vatti/src/app/app.component.ts
  apps/vatti/src/app/constants.ts
  apps/vatti/src/app/pages/fixed-deposit-calculator/fixed-deposit-calculator.page.ts
  apps/vatti/src/app/pages/gold-jewellery-price-calculator/gold-jewellery-price-calculator.page.ts
  apps/vatti/src/app/pages/loan-emi-calculator/loan-emi-calculator.page.ts
  apps/vatti/src/app/pages/post-office-savings-schemes/post-office-savings-schemes.page.ts
  apps/vatti/src/app/pages/settings/settings.page.ts
  apps/vatti/src/index.html
  migrations.json
  package-lock.json
  package.json
Due: npx nx affected:lint --fix --files, npx nx format:write --files

chore: upgrade to angular 21
  apps/palan/src/app/app.config.ts
  apps/palan/tsconfig.json
  apps/palan/tsconfig.spec.json
  apps/pangu/src/app/app.config.ts
  apps/pangu/tsconfig.json
  apps/pangu/tsconfig.spec.json
  apps/vatti/tsconfig.json
  apps/vatti/tsconfig.spec.json
  package-lock.json
  package.json
Due: npx nx affected:lint --fix --files, npx nx format:write --files

chore: upgrade to angular 21 (#47)
  apps/palan/src/app/app.config.ts
  apps/palan/tsconfig.json
  apps/palan/tsconfig.spec.json
  apps/pangu/src/app/app.config.ts
  apps/pangu/tsconfig.json
  apps/pangu/tsconfig.spec.json
  apps/vatti/tsconfig.json
  apps/vatti/tsconfig.spec.json
  package-lock.json
  package.json
Due: npx nx affected:lint --fix --files, npx nx format:write --files

step 1 - verified
  package-lock.json
  package.json
Due: npx nx format:write --files

revert for running tailwind auto upgrade
  apps/palan/src/app/pages/about/about.page.ts
  apps/palan/src/app/pages/dashboard/dashboard.page.ts
  apps/palan/src/styles.css
  apps/pangu/src/styles.css
  apps/vatti/src/styles.css
  package-lock.json
  package.json
Due: npx nx affected:lint --fix --files, npx stylelint --fix, npx nx format:write --files

tailwind auto-migration
  apps/palan/src/app/app.component.html
  apps/palan/src/app/pages/dashboard/dashboard.page.html
  apps/palan/src/app/pages/delete/delete.page.html
  apps/palan/src/app/pages/export/export.page.html
  apps/palan/src/app/pages/import/import.page.html
  apps/palan/src/app/pages/plan/plan.page.html
  apps/palan/src/app/pages/portfolio/portfolio.page.html
  apps/palan/src/app/pages/settings/settings.page.html
  apps/palan/src/app/pages/stocks/stocks.page.html
  apps/palan/src/styles.css
  apps/palan/tailwind.config.js
  apps/pangu/src/app/app.component.html
  apps/pangu/src/app/pages/dashboard/dashboard.page.html
  apps/pangu/src/app/pages/delete/delete.page.html
  apps/pangu/src/app/pages/export/export.page.html
  apps/pangu/src/app/pages/import/import.page.html
  apps/pangu/src/app/pages/indices/indices.page.html
  apps/pangu/src/app/pages/portfolio/portfolio.page.html
  apps/pangu/src/app/pages/settings/settings.page.html
  apps/pangu/src/app/pages/stocks/stocks.page.html
  apps/pangu/src/styles.css
  apps/pangu/tailwind.config.js
  apps/vatti/src/app/app.component.html
  apps/vatti/src/app/pages/fixed-deposit-calculator/fixed-deposit-calculator.page.html
  apps/vatti/src/app/pages/gold-jewellery-price-calculator/gold-jewellery-price-calculator.page.html
  apps/vatti/src/app/pages/home/home.page.html
  apps/vatti/src/app/pages/loan-emi-calculator/loan-emi-calculator.page.html
  apps/vatti/src/app/pages/post-office-savings-schemes/post-office-savings-schemes.page.html
  apps/vatti/src/app/pages/recurring-deposit-calculator/recurring-deposit-calculator.page.html
  apps/vatti/src/app/pages/settings/settings.page.html
  apps/vatti/src/styles.css
  apps/vatti/tailwind.config.js
  package-lock.json
  package.json
Due: npx nx affected:lint --fix --files, npx stylelint --fix, npx nx format:write --files

improvements
  apps/palan/src/styles.css
  apps/pangu/src/styles.css
  apps/vatti/src/styles.css
Due: npx nx affected:lint --fix --files, npx stylelint --fix, npx nx format:write --files

manual corrections
  apps/palan/src/app/pages/stocks/stocks.page.css
  apps/palan/src/styles.css
  apps/pangu/src/app/pages/indices/indices.page.css
  apps/pangu/src/app/pages/stocks/stocks.page.css
  apps/pangu/src/styles.css
  apps/vatti/src/app/pages/fixed-deposit-calculator/fixed-deposit-calculator.page.css
  apps/vatti/src/app/pages/loan-emi-calculator/loan-emi-calculator.page.css
  apps/vatti/src/app/pages/post-office-savings-schemes/post-office-savings-schemes.page.css
  apps/vatti/src/app/pages/recurring-deposit-calculator/recurring-deposit-calculator.page.css
  apps/vatti/src/styles.css
Due: npx nx affected:lint --fix --files, npx stylelint --fix, npx nx format:write --files

upgrade flowbite
  package-lock.json
  package.json
Due: npx nx format:write --files

fix border radius
  apps/palan/src/app/app.component.html
  apps/palan/src/app/pages/dashboard/dashboard.page.html
  apps/palan/src/app/pages/delete/delete.page.html
  apps/palan/src/app/pages/export/export.page.html
  apps/palan/src/app/pages/import/import.page.html
  apps/palan/src/app/pages/plan/plan.page.html
  apps/palan/src/app/pages/portfolio/portfolio.page.html
  apps/palan/src/app/pages/settings/settings.page.html
  apps/palan/src/app/pages/stocks/stocks.page.html
  apps/palan/src/styles.css
  apps/pangu/src/app/app.component.html
  apps/pangu/src/app/pages/dashboard/dashboard.page.html
  apps/pangu/src/app/pages/delete/delete.page.html
  apps/pangu/src/app/pages/export/export.page.html
  apps/pangu/src/app/pages/import/import.page.html
  apps/pangu/src/app/pages/indices/indices.page.html
  apps/pangu/src/app/pages/portfolio/portfolio.page.html
  apps/pangu/src/app/pages/settings/settings.page.html
  apps/pangu/src/app/pages/stocks/stocks.page.html
  apps/pangu/src/styles.css
  apps/vatti/src/app/app.component.html
  apps/vatti/src/app/pages/fixed-deposit-calculator/fixed-deposit-calculator.page.html
  apps/vatti/src/app/pages/gold-jewellery-price-calculator/gold-jewellery-price-calculator.page.html
  apps/vatti/src/app/pages/home/home.page.html
  apps/vatti/src/app/pages/loan-emi-calculator/loan-emi-calculator.page.html
  apps/vatti/src/app/pages/post-office-savings-schemes/post-office-savings-schemes.page.html
  apps/vatti/src/app/pages/recurring-deposit-calculator/recurring-deposit-calculator.page.html
  apps/vatti/src/app/pages/settings/settings.page.html
  apps/vatti/src/styles.css
Due: npx nx affected:lint --fix --files, npx stylelint --fix, npx nx format:write --files

fix colors and date picker
  apps/palan/src/app/app.component.html
  apps/palan/src/app/pages/import/import.page.html
  apps/palan/src/app/pages/portfolio/portfolio.page.ts
  apps/palan/src/styles.css
  apps/pangu/src/app/app.component.html
  apps/pangu/src/app/pages/import/import.page.html
  apps/pangu/src/app/pages/portfolio/portfolio.page.ts
  apps/pangu/src/styles.css
  apps/vatti/src/app/app.component.html
  apps/vatti/src/app/pages/fixed-deposit-calculator/fixed-deposit-calculator.page.html
  apps/vatti/src/app/pages/gold-jewellery-price-calculator/gold-jewellery-price-calculator.page.html
  apps/vatti/src/app/pages/loan-emi-calculator/loan-emi-calculator.page.html
  apps/vatti/src/app/pages/post-office-savings-schemes/post-office-savings-schemes.page.html
  apps/vatti/src/styles.css
Due: npx nx affected:lint --fix --files, npx stylelint --fix, npx nx format:write --files

update deps
  apps/palan/src/app/pages/import/import.page.html
  apps/palan/src/app/pages/stocks/stocks.page.html
  apps/pangu/src/app/pages/import/import.page.html
  apps/pangu/src/app/pages/indices/indices.page.html
  apps/pangu/src/app/pages/portfolio/portfolio.page.ts
  apps/pangu/src/app/pages/stocks/stocks.page.html
  package-lock.json
  package.json
Due: npx nx affected:lint --fix --files, npx nx format:write --files

update package lock
  package-lock.json
Due: npx nx format:write --files

update package lock 2
  package-lock.json
Due: npx nx format:write --files

chore: update dependencies (#50)
  apps/palan/src/app/pages/import/import.page.html
  apps/palan/src/app/pages/stocks/stocks.page.html
  apps/pangu/src/app/pages/import/import.page.html
  apps/pangu/src/app/pages/indices/indices.page.html
  apps/pangu/src/app/pages/portfolio/portfolio.page.ts
  apps/pangu/src/app/pages/stocks/stocks.page.html
  package-lock.json
  package.json
Due: npx nx affected:lint --fix --files, npx nx format:write --files

add react
  package-lock.json
  package.json
Due: npx nx format:write --files

add kaasu app
  .gitignore
  apps/kaasu/index.html
  apps/kaasu/project.json
  apps/kaasu/public/favicon.ico
  apps/kaasu/src/app/app.module.css
  apps/kaasu/src/app/app.tsx
  apps/kaasu/src/app/nx-welcome.tsx
  apps/kaasu/src/assets/.gitkeep
  apps/kaasu/src/main.tsx
  apps/kaasu/src/styles.css
  apps/kaasu/tsconfig.app.json
  apps/kaasu/tsconfig.json
  apps/kaasu/vite.config.mts
  nx.json
  package-lock.json
  package.json
Due: npx nx affected:lint --fix --files, npx stylelint --fix, npx nx format:write --files

add tailwind
  apps/kaasu/src/styles.css
  apps/kaasu/vite.config.mts
  package-lock.json
  package.json
Due: npx nx affected:lint --fix --files, npx stylelint --fix, npx nx format:write --files

add shadcn ui lib
  .vscode/settings.json
  apps/kaasu/src/app/app.module.css
  apps/kaasu/src/app/app.tsx
  apps/kaasu/src/app/nx-welcome.tsx
  apps/kaasu/src/styles.css
  components.json
  libs/ui/.babelrc
  libs/ui/README.md
  libs/ui/project.json
  libs/ui/src/components/button.tsx
  libs/ui/src/components/dropdown-menu.tsx
  libs/ui/src/components/theme-provider.tsx
  libs/ui/src/components/theme-switcher.tsx
  libs/ui/src/globals.css
  libs/ui/src/hooks/.gitkeep
  libs/ui/src/index.ts
  libs/ui/src/libs/utils.ts
  libs/ui/tsconfig.json
  libs/ui/tsconfig.lib.json
  nx.json
  package-lock.json
  package.json
  tsconfig.base.json
  tsconfig.json
Due: npx nx affected:lint --fix --files, npx stylelint --fix, npx nx format:write --files

add sample dashboard
  apps/kaasu/src/app/app.tsx
  libs/ui/src/components/app-sidebar.tsx
  libs/ui/src/components/avatar.tsx
  libs/ui/src/components/badge.tsx
  libs/ui/src/components/breadcrumb.tsx
  libs/ui/src/components/card.tsx
  libs/ui/src/components/chart-area-interactive.tsx
  libs/ui/src/components/chart.tsx
  libs/ui/src/components/checkbox.tsx
  libs/ui/src/components/data-table.tsx
  libs/ui/src/components/drawer.tsx
  libs/ui/src/components/input.tsx
  libs/ui/src/components/label.tsx
  libs/ui/src/components/nav-documents.tsx
  libs/ui/src/components/nav-main.tsx
  libs/ui/src/components/nav-secondary.tsx
  libs/ui/src/components/nav-user.tsx
  libs/ui/src/components/section-cards.tsx
  libs/ui/src/components/select.tsx
  libs/ui/src/components/separator.tsx
  libs/ui/src/components/sheet.tsx
  libs/ui/src/components/sidebar.tsx
  libs/ui/src/components/site-header.tsx
  libs/ui/src/components/skeleton.tsx
  libs/ui/src/components/sonner.tsx
  libs/ui/src/components/table.tsx
  libs/ui/src/components/tabs.tsx
  libs/ui/src/components/toggle-group.tsx
  libs/ui/src/components/toggle.tsx
  libs/ui/src/components/tooltip.tsx
  libs/ui/src/hooks/.gitkeep
  libs/ui/src/hooks/use-mobile.ts
  libs/ui/src/index.ts
  package-lock.json
  package.json
  tsconfig.base.json
Due: npx nx format:write --files

add linter and formatter to kaasu app
  .prettierignore
  .vscode/settings.json
  apps/kaasu/.eslintrc.json
  apps/kaasu/project.json
  apps/palan/project.json
  apps/palan/src/app/pages/page-not-found/page-not-found.page.html
  apps/pangu/project.json
  apps/pangu/src/app/pages/page-not-found/page-not-found.page.html
  apps/vatti/project.json
  apps/vatti/src/app/pages/page-not-found/page-not-found.page.html
  package-lock.json
  package.json
Due: npx nx affected:lint --fix --files, npx nx format:write --files

add vitest to kaasu app
  apps/kaasu/project.json
  apps/kaasu/src/app/app.spec.tsx
  apps/kaasu/tsconfig.spec.json
  apps/kaasu/vite.config.mts
Due: npx nx affected:lint --fix --files, npx nx format:write --files

add stylelint to all app
  apps/kaasu/.stylelintrc.json
  apps/kaasu/project.json
  apps/palan/.stylelintrc.json
  apps/palan/project.json
  apps/pangu/.stylelintrc.json
  apps/pangu/project.json
  apps/vatti/.stylelintrc.json
  apps/vatti/project.json
Due: npx nx affected:lint --fix --files, npx nx format:write --files

add eslint, stylelint, prettier and vitest to ui lib
  libs/ui/.eslintrc.json
  libs/ui/.stylelintrc.json
  libs/ui/project.json
  libs/ui/src/index.spec.ts
  libs/ui/tsconfig.spec.json
  libs/ui/vitest.config.ts
Due: npx nx format:write --files

add ut - needs review and lint fix
  apps/pangu/.eslintrc.json
  apps/pangu/jest.config.ts
  apps/pangu/src/app/app.component.spec.ts
  apps/pangu/src/app/app.component.ts
  apps/pangu/src/app/db/app.db.spec.ts
  apps/pangu/src/app/decorators/flowbite.decorator.spec.ts
  apps/pangu/src/app/pages/delete/delete.page.spec.ts
  apps/pangu/src/app/pages/export/export.page.spec.ts
  apps/pangu/src/app/pages/import/import.page.spec.ts
  apps/pangu/src/app/pages/indices/indices.page.spec.ts
  apps/pangu/src/app/pages/indices/indices.page.ts
  apps/pangu/src/app/pages/portfolio/portfolio.page.spec.ts
  apps/pangu/src/app/pages/portfolio/portfolio.page.ts
  apps/pangu/src/app/pages/settings/settings.page.spec.ts
  apps/pangu/src/app/pages/stocks/stocks.page.spec.ts
  apps/pangu/src/app/pipes/value-or-placeholder.pipe.spec.ts
  apps/pangu/src/app/pipes/value-or-placeholder.pipe.ts
  apps/pangu/src/app/services/core/market.service.spec.ts
  apps/pangu/src/app/services/core/settings.service.spec.ts
  apps/pangu/src/app/services/core/storage.service.spec.ts
  apps/pangu/src/app/services/dashboard.service.spec.ts
  apps/pangu/src/app/services/portfolio.service.spec.ts
  apps/pangu/src/app/utils/chart.utils.spec.ts
  apps/pangu/src/app/utils/market.utils.spec.ts
Due: npx nx affected:lint --fix --files, npx nx format:write --files

base work
  .vscode/settings.json
  apps/palan/src/app/adapters/market.adapter.ts
  apps/palan/src/app/models/chart.ts
  apps/palan/src/app/models/market.ts
  apps/palan/src/app/models/stock.ts
  apps/palan/src/app/pages/stocks/stocks.page.ts
  apps/palan/src/app/services/core/currency.service.ts
  apps/palan/src/app/services/core/market.service.ts
  apps/pangu/src/app/adapters/market.adapter.ts
  apps/pangu/src/app/constants.ts
  apps/pangu/src/app/db/app.db.ts
  apps/pangu/src/app/models/chart.ts
  apps/pangu/src/app/models/index.ts
  apps/pangu/src/app/models/market.ts
  apps/pangu/src/app/models/stock.ts
  apps/pangu/src/app/models/vendor/etm.ts
  apps/pangu/src/app/pages/indices/indices.page.ts
  apps/pangu/src/app/pages/portfolio/portfolio.page.ts
  apps/pangu/src/app/pages/stocks/stocks.page.ts
  apps/pangu/src/app/services/core/market.service.ts
  apps/pangu/src/app/services/dashboard.service.ts
  apps/pangu/src/app/utils/market.utils.ts
Due: npx nx affected:lint --fix --files, npx nx format:write --files

integratio base work
  apps/pangu/src/app/pages/dashboard/dashboard.page.html
  apps/pangu/src/app/pages/dashboard/dashboard.page.ts
  apps/pangu/src/app/services/dashboard.service.ts
Due: npx nx affected:lint --fix --files, npx nx format:write --files

fix market service
  apps/pangu/src/app/services/core/market.service.ts
Due: npx nx affected:lint --fix --files, npx nx format:write --files

finish portfolio performance chart
  apps/palan/src/app/pages/stocks/stocks.page.ts
  apps/pangu/src/app/pages/dashboard/dashboard.page.html
  apps/pangu/src/app/pages/dashboard/dashboard.page.ts
  apps/pangu/src/app/pages/indices/indices.page.ts
  apps/pangu/src/app/pages/stocks/stocks.page.ts
  apps/pangu/src/app/services/core/market.service.ts
  apps/pangu/src/app/services/dashboard.service.ts
Due: npx nx affected:lint --fix --files, npx nx format:write --files

final fixes
  apps/pangu/src/app/pages/dashboard/dashboard.page.html
  apps/pangu/src/app/services/core/market.service.ts
  apps/pangu/src/app/services/dashboard.service.ts
Due: npx nx affected:lint --fix --files, npx nx format:write --files

small improvement
  apps/pangu/src/app/services/dashboard.service.ts
Due: npx nx affected:lint --fix --files, npx nx format:write --files

small improvement 2
  apps/pangu/src/app/services/dashboard.service.ts
Due: npx nx affected:lint --fix --files, npx nx format:write --files

feat(pangu): add portfolio performance chart to dashboard (#51)
  .vscode/settings.json
  apps/palan/src/app/adapters/market.adapter.ts
  apps/palan/src/app/models/chart.ts
  apps/palan/src/app/models/market.ts
  apps/palan/src/app/models/stock.ts
  apps/palan/src/app/pages/stocks/stocks.page.ts
  apps/palan/src/app/services/core/currency.service.ts
  apps/palan/src/app/services/core/market.service.ts
  apps/pangu/src/app/adapters/market.adapter.ts
  apps/pangu/src/app/constants.ts
  apps/pangu/src/app/db/app.db.ts
  apps/pangu/src/app/models/chart.ts
  apps/pangu/src/app/models/index.ts
  apps/pangu/src/app/models/market.ts
  apps/pangu/src/app/models/stock.ts
  apps/pangu/src/app/models/vendor/etm.ts
  apps/pangu/src/app/pages/dashboard/dashboard.page.html
  apps/pangu/src/app/pages/dashboard/dashboard.page.ts
  apps/pangu/src/app/pages/indices/indices.page.ts
  apps/pangu/src/app/pages/portfolio/portfolio.page.ts
  apps/pangu/src/app/pages/stocks/stocks.page.ts
  apps/pangu/src/app/services/core/market.service.ts
  apps/pangu/src/app/services/dashboard.service.ts
  apps/pangu/src/app/utils/market.utils.ts
Due: npx nx affected:lint --fix --files, npx nx format:write --files

fix(pangu): use proper exchange name to code and vice-versa mapping
  apps/pangu/src/app/services/core/market.service.ts
Due: npx nx affected:lint --fix --files, npx nx format:write --files

fix(pangu): use proper exchange name to code and vice-versa mapping (#52)
  apps/pangu/src/app/services/core/market.service.ts
Due: npx nx affected:lint --fix --files, npx nx format:write --files

feat(pangu): add portfolio composition chart to dashboard
  apps/pangu/jest.config.ts
  apps/pangu/src/app/app.config.ts
  apps/pangu/src/app/models/chart.ts
  apps/pangu/src/app/pages/dashboard/dashboard.page.html
  apps/pangu/src/app/pages/dashboard/dashboard.page.ts
  apps/pangu/src/app/services/dashboard.service.ts
  apps/pangu/src/app/utils/chart.utils.ts
  apps/vatti/src/app/app.config.ts
Due: npx nx affected:lint --fix --files, npx nx format:write --files
