Repository hyperweavers/nidhi: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, stylelint --fix

fix(pangu): handle sidebar toggle properly on mobile devices
  apps/pangu/src/app/app.component.html
  apps/pangu/src/app/app.component.ts
Due: nx affected:lint --fix --files, nx format:write --files

feat(pangu): move theme selection to new page for settings
  apps/pangu/src/app/app.component.html
  apps/pangu/src/app/app.routes.ts
  apps/pangu/src/app/constants.ts
  apps/pangu/src/app/models/settings.ts
  apps/pangu/src/app/pages/settings/settings.page.html
  apps/pangu/src/app/pages/settings/settings.page.scss
  apps/pangu/src/app/pages/settings/settings.page.spec.ts
  apps/pangu/src/app/pages/settings/settings.page.ts
  apps/pangu/src/app/services/core/settings.service.spec.ts
  apps/pangu/src/app/services/core/settings.service.ts
Due: nx affected:lint --fix --files, nx format:write --files, stylelint --fix

refactor(pangu): deduplicate code and add functions for index details & market status in market service
  apps/pangu/src/app/constants.ts
  apps/pangu/src/app/models/index.ts
  apps/pangu/src/app/models/market.ts
  apps/pangu/src/app/services/core/market.service.ts
Due: nx affected:lint --fix --files, nx format:write --files

feat(pangu): show market operating status in title bar
  apps/pangu/src/app/app.component.html
  apps/pangu/src/app/app.component.ts
  apps/pangu/src/app/services/core/market.service.ts
Due: nx affected:lint --fix --files, nx format:write --files

feat(pangu): periodically refresh data at configurable interval when the market is open
  apps/pangu/src/app/constants.ts
  apps/pangu/src/app/models/settings.ts
  apps/pangu/src/app/pages/settings/settings.page.html
  apps/pangu/src/app/pages/settings/settings.page.ts
  apps/pangu/src/app/services/core/market.service.ts
  apps/pangu/src/app/services/core/settings.service.ts
  apps/pangu/src/app/services/dashboard.service.ts
  apps/pangu/src/app/services/portfolio.service.ts
Due: nx affected:lint --fix --files, nx format:write --files

chore(pangu): clean up log messages in portfolio page
  apps/pangu/src/app/pages/portfolio/portfolio.page.ts
Due: nx affected:lint --fix --files, nx format:write --files

feat(pangu): add a button to manually refresh data
  apps/pangu/src/app/app.component.html
  apps/pangu/src/app/app.component.ts
  apps/pangu/src/app/services/core/market.service.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix(pangu): avoid the need of double tap to open side menu after sharing
  apps/pangu/src/app/app.component.ts
Due: nx affected:lint --fix --files, nx format:write --files

style(pangu): align button group width in settings page
  apps/pangu/src/app/pages/settings/settings.page.html
Due: nx affected:lint --fix --files, nx format:write --files

feat(pangu): show stock details when a portfolio stock is selected
  .vscode/settings.json
  apps/pangu/src/app/app.component.html
  apps/pangu/src/app/app.routes.ts
  apps/pangu/src/app/constants.ts
  apps/pangu/src/app/models/chart.ts
  apps/pangu/src/app/models/market.ts
  apps/pangu/src/app/models/stock.ts
  apps/pangu/src/app/pages/portfolio/portfolio.page.html
  apps/pangu/src/app/pages/portfolio/portfolio.page.ts
  apps/pangu/src/app/pages/stocks/stocks.page.html
  apps/pangu/src/app/pages/stocks/stocks.page.scss
  apps/pangu/src/app/pages/stocks/stocks.page.spec.ts
  apps/pangu/src/app/pages/stocks/stocks.page.ts
  apps/pangu/src/app/services/core/market.service.ts
  apps/pangu/src/app/services/portfolio.service.ts
  apps/pangu/src/app/utils/chart.utils.ts
  apps/pangu/src/app/utils/market.utils.ts
  package-lock.json
  package.json
Due: nx affected:lint --fix --files, nx format:write --files, stylelint --fix

chore(pangu): gitignore nx workspace data
  .gitignore
Due: nx format:write --files

publish v3
  docs/404.html
  docs/chunk-36O6EOGV.js
  docs/chunk-3EAZ74K3.js
  docs/chunk-3VOFFUYE.js
  docs/chunk-5PGRGIR6.js
  docs/chunk-6GWSO242.js
  docs/chunk-6I45OLPS.js
  docs/chunk-76DXMVRD.js
  docs/chunk-AP5D5LMV.js
  docs/chunk-AUOJDEMC.js
  docs/chunk-BA7C2EM4.js
  docs/chunk-BY3U6HI2.js
  docs/chunk-DH7K5Z74.js
  docs/chunk-DK55UWCO.js
  docs/chunk-DTR3IG7W.js
  docs/chunk-GREG4OA2.js
  docs/chunk-I5ES746S.js
  docs/chunk-II56ENZL.js
  docs/chunk-KBF6TTQS.js
  docs/chunk-KDTLIONI.js
  docs/chunk-MF3T6XOF.js
  docs/chunk-MM5P5HAZ.js
  docs/chunk-NJ7D5CE6.js
  docs/chunk-NU7KYNCF.js
  docs/chunk-OBYDPMVS.js
  docs/chunk-P243VNFT.js
  docs/chunk-P3GSXUQS.js
  docs/chunk-QQM5WJBN.js
  docs/chunk-R7OPQPBP.js
  docs/chunk-ROEDZARI.js
  docs/chunk-SL6WZUBY.js
  docs/chunk-X6QJLDRS.js
  docs/chunk-XYVVBFFA.js
  docs/chunk-YZ4KGQEP.js
  docs/index.html
  docs/main-DYBI4QYM.js
  docs/main-GE66KJXY.js
  docs/ngsw.json
  docs/styles-5SVS6SKZ.css
  docs/styles-FIDL6WRX.css
Due: nx format:write --files, stylelint --fix

publish v3.1
  apps/pangu/src/app/pages/stocks/stocks.page.html
  docs/404.html
  docs/chunk-6UJ7YGS6.js
  docs/chunk-QQM5WJBN.js
  docs/index.html
  docs/main-DYBI4QYM.js
  docs/main-KEDXGJVB.js
  docs/ngsw.json
Due: nx affected:lint --fix --files, nx format:write --files

fix(pangu): prevent exchange toggle from stretching in stock details page
  apps/pangu/src/app/pages/stocks/stocks.page.html
Due: nx affected:lint --fix --files, nx format:write --files

fix(pangu): consider zero change as gain instead of loss
  apps/pangu/src/app/utils/market.utils.ts
Due: nx affected:lint --fix --files, nx format:write --files

refactor(pangu): expose color scheme as separate setting derived from theme
  apps/pangu/src/app/constants.ts
  apps/pangu/src/app/models/settings.ts
  apps/pangu/src/app/services/core/settings.service.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix(pangu): detect theme instantly when system color preference changes
  apps/pangu/src/app/services/core/settings.service.ts
Due: nx affected:lint --fix --files, nx format:write --files

refactor(pangu): detect resize event globally
  .vscode/settings.json
  apps/pangu/src/app/app.component.ts
  apps/pangu/src/app/services/core/settings.service.ts
  package-lock.json
  package.json
Due: nx affected:lint --fix --files, nx format:write --files

style(pangu): clearly differentiate gain/loss indication arrow from text
  apps/pangu/src/app/pages/dashboard/dashboard.page.html
  apps/pangu/src/app/pages/stocks/stocks.page.html
Due: nx affected:lint --fix --files, nx format:write --files

feat(pangu): add metrics and scrip info to stocks page
  apps/pangu/src/app/pages/stocks/stocks.page.html
  apps/pangu/src/app/pages/stocks/stocks.page.scss
Due: nx affected:lint --fix --files, nx format:write --files, stylelint --fix

feat(pangu): add technical details to stock graph
  .vscode/settings.json
  apps/pangu/src/app/models/chart.ts
  apps/pangu/src/app/pages/stocks/stocks.page.html
  apps/pangu/src/app/pages/stocks/stocks.page.ts
  apps/pangu/src/app/services/core/market.service.ts
Due: nx affected:lint --fix --files, nx format:write --files

refactor(pangu): use document object from angular instead of native
  apps/pangu/src/app/app.component.ts
  apps/pangu/src/app/pages/export/export.page.ts
  apps/pangu/src/app/services/core/settings.service.ts
Due: nx affected:lint --fix --files, nx format:write --files

feat(pangu): add option to view chart in full screen in stocks page
  apps/pangu/src/app/pages/import/import.page.ts
  apps/pangu/src/app/pages/portfolio/portfolio.page.ts
  apps/pangu/src/app/pages/stocks/stocks.page.html
  apps/pangu/src/app/pages/stocks/stocks.page.ts
Due: nx affected:lint --fix --files, nx format:write --files

feat(pangu): show index details when an index is selected
  .vscode/settings.json
  apps/pangu/src/app/app.component.html
  apps/pangu/src/app/app.routes.ts
  apps/pangu/src/app/constants.ts
  apps/pangu/src/app/models/index.ts
  apps/pangu/src/app/models/market.ts
  apps/pangu/src/app/models/stock.ts
  apps/pangu/src/app/pages/indices/indices.page.html
  apps/pangu/src/app/pages/indices/indices.page.scss
  apps/pangu/src/app/pages/indices/indices.page.spec.ts
  apps/pangu/src/app/pages/indices/indices.page.ts
  apps/pangu/src/app/pages/portfolio/portfolio.page.ts
  apps/pangu/src/app/services/core/market.service.ts
  apps/pangu/src/app/services/dashboard.service.ts
  apps/pangu/src/app/services/portfolio.service.ts
  apps/pangu/src/app/utils/market.utils.ts
Due: nx affected:lint --fix --files, nx format:write --files, stylelint --fix

feat(pangu): show index constituents in indices page
  apps/pangu/src/app/pages/indices/indices.page.html
  apps/pangu/src/app/pages/indices/indices.page.ts
  apps/pangu/src/app/pages/portfolio/portfolio.page.html
  apps/pangu/src/app/services/core/market.service.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix(pangu): sort index constituents based on day change
  apps/pangu/src/app/constants.ts
  apps/pangu/src/app/services/core/market.service.ts
Due: nx affected:lint --fix --files, nx format:write --files

Path conditions:
  nx affected:lint --fix --files: any of: apps/**/*.{ts,js,scss,css,html,md,json}
  nx format:write --files: any of: *
  stylelint --fix: any of: *.{scss,css}
