Repository hyperweavers/nidhi: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write --files, stylelint --fix

.lintstagedrc:

{
  "apps/**/*.{ts,js,scss,css,html,md,json}": [
    "nx affected:lint --fix --files"
  ],
  "*": [
    "nx format:write --files"
  ],
  "*.{scss,css}": [
    "stylelint --fix"
  ]
}

fix(pangu): sort index constituents based on day change
  apps/pangu/src/app/constants.ts
  apps/pangu/src/app/services/core/market.service.ts
Due: nx affected:lint --fix --files, nx format:write --files

feat(pangu): add disclaimer and update terms and conditions
  apps/pangu/src/app/app.component.html
  apps/pangu/src/app/app.routes.ts
  apps/pangu/src/app/constants.ts
  apps/pangu/src/app/pages/disclaimer/disclaimer.page.html
  apps/pangu/src/app/pages/disclaimer/disclaimer.page.scss
  apps/pangu/src/app/pages/disclaimer/disclaimer.page.spec.ts
  apps/pangu/src/app/pages/disclaimer/disclaimer.page.ts
  apps/pangu/src/app/pages/privacy/privacy.page.html
  apps/pangu/src/app/pages/terms/terms.page.html
Due: nx affected:lint --fix --files, nx format:write --files, stylelint --fix

publish v5.1
  docs/404.html
  docs/chunk-2CMPSFX6.js
  docs/chunk-3BS6G7RN.js
  docs/chunk-3NEAB4WQ.js
  docs/chunk-4273YRYH.js
  docs/chunk-5W255FXG.js
  docs/chunk-7CTJJ43H.js
  docs/chunk-7I4CX6EX.js
  docs/chunk-7LCFZZ3P.js
  docs/chunk-DJTGTXKO.js
  docs/chunk-DPFWYWDG.js
  docs/chunk-FQGHZV7Z.js
  docs/chunk-FR6L4A2L.js
  docs/chunk-MFCPEPKG.js
  docs/chunk-MPVGFYRY.js
  docs/chunk-OJY56S4H.js
  docs/chunk-TLPKXKMZ.js
  docs/chunk-YTFMXDVN.js
  docs/chunk-ZODD6VMW.js
  docs/chunk-ZTR7YW7T.js
  docs/chunk-ZYLNGJX7.js
  docs/index.html
  docs/main-STR5MYOT.js
  docs/main-VHSSZGSJ.js
  docs/ngsw.json
  docs/styles-DL6N3SVA.css
  docs/styles-DVJSRLSL.css
Due: nx format:write --files, stylelint --fix

fix(pangu): prevent infinite graph loading for some stocks and indices
  apps/pangu/src/app/services/core/market.service.ts
Due: nx affected:lint --fix --files, nx format:write --files

style(pangu): make links more visible in legal pages
  apps/pangu/src/app/pages/disclaimer/disclaimer.page.html
  apps/pangu/src/app/pages/privacy/privacy.page.html
  apps/pangu/src/app/pages/terms/terms.page.html
Due: nx affected:lint --fix --files, nx format:write --files

feat(pangu): show advance/decline in index details
  apps/pangu/src/app/pages/indices/indices.page.html
Due: nx affected:lint --fix --files, nx format:write --files

style(pangu): improve dashboard advance/decline bar visuals
  apps/pangu/src/app/pages/dashboard/dashboard.page.html
Due: nx affected:lint --fix --files, nx format:write --files

perf(pangu): improve historic chart api request
  apps/pangu/src/app/constants.ts
  apps/pangu/src/app/services/core/market.service.ts
Due: nx affected:lint --fix --files, nx format:write --files

publish v5.2
  docs/404.html
  docs/chunk-2CMPSFX6.js
  docs/chunk-5W255FXG.js
  docs/chunk-72OBK44M.js
  docs/chunk-7CTJJ43H.js
  docs/chunk-7LCFZZ3P.js
  docs/chunk-AAR4CILL.js
  docs/chunk-DJTGTXKO.js
  docs/chunk-DPFWYWDG.js
  docs/chunk-F7SP7MXP.js
  docs/chunk-FR6L4A2L.js
  docs/chunk-HB5KVTJ7.js
  docs/chunk-JU3QDZ7W.js
  docs/chunk-MFCPEPKG.js
  docs/chunk-MPER7S2U.js
  docs/chunk-MQVNW2EP.js
  docs/chunk-MWFKXVOL.js
  docs/chunk-OJY56S4H.js
  docs/chunk-TPAFYT3S.js
  docs/chunk-W2E3BS5S.js
  docs/chunk-XVUP6ZCF.js
  docs/chunk-YTFMXDVN.js
  docs/chunk-ZTR7YW7T.js
  docs/index.html
  docs/main-BMS5MXEZ.js
  docs/main-VHSSZGSJ.js
  docs/ngsw.json
  docs/styles-6HUAQTEB.css
  docs/styles-DL6N3SVA.css
Due: nx format:write --files, stylelint --fix

style(pangu): improve table data visibility in portfolio & indices screens
  apps/pangu/src/app/pages/indices/indices.page.html
  apps/pangu/src/app/pages/portfolio/portfolio.page.html
Due: nx affected:lint --fix --files, nx format:write --files

feat(pangu): add stock intra day chart
  apps/pangu/src/app/constants.ts
  apps/pangu/src/app/models/chart.ts
  apps/pangu/src/app/models/market.ts
  apps/pangu/src/app/pages/indices/indices.page.html
  apps/pangu/src/app/pages/indices/indices.page.ts
  apps/pangu/src/app/pages/stocks/stocks.page.html
  apps/pangu/src/app/pages/stocks/stocks.page.ts
  apps/pangu/src/app/services/core/market.service.ts
  apps/pangu/src/app/utils/market.utils.ts
Due: nx affected:lint --fix --files, nx format:write --files

fix(pangu): prevent historic chart auto-reset to intra day
  apps/pangu/src/app/pages/stocks/stocks.page.ts
Due: nx affected:lint --fix --files, nx format:write --files

feat(pangu): add index intra day chart
  apps/pangu/src/app/models/market.ts
  apps/pangu/src/app/pages/indices/indices.page.html
  apps/pangu/src/app/pages/indices/indices.page.ts
  apps/pangu/src/app/services/dashboard.service.ts
Due: nx affected:lint --fix --files, nx format:write --files

auto deployment trail 1
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .vscode/settings.json
  apps/pangu/project.json
  apps/pangu/src/app/pages/about/about.page.html
  package-lock.json
  package.json
Due: nx affected:lint --fix --files, nx format:write --files

fix release branch name
  .github/workflows/deploy.yml
Due: nx format:write --files

use nx cloud to speedup deployment
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: nx format:write --files

remove deploy npm script
  package.json
Due: nx format:write --files

use nvmrc
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .nvmrc
Due: nx format:write --files

disable npm cache
  .github/workflows/deploy.yml
Due: nx format:write --files

nx upgrade
  package-lock.json
  package.json
Due: nx format:write --files

angular upgrade
  package-lock.json
  package.json
Due: nx format:write --files

re-enable npm cache
  .github/workflows/deploy.yml
Due: nx format:write --files

change deploy job name
  .github/workflows/deploy.yml
Due: nx format:write --files

remove nc cloud integration for deploy job
  .github/workflows/deploy.yml
Due: nx format:write --files

configure name and email for deployment and remove build step from deploy task
  .github/workflows/deploy.yml
  apps/pangu/project.json
Due: nx affected:lint --fix --files, nx format:write --files

use actions
  .github/workflows/deploy.yml
  package.json
Due: nx format:write --files

trial
  .github/workflows/deploy.yml
Due: nx format:write --files
